.section.contact-us-card-wrapper .cards-wrapper>.cards>ul {

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.section.contact-us-card-wrapper .cards-wrapper>.cards>ul>li {
    background-color: #E9F3FD;
    border-radius: 16px;
    padding: 16px;
    height: 100%;
    display: flex;
}

.section.contact-us-card-wrapper .cards-wrapper>.cards>ul>li .cards-card-body:first-child {
    display: none;
}

.section.contact-us-card-wrapper .cards-wrapper>.cards>ul>li .cards-card-body {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: start;
    margin: 0;
    width: 100%;
    position: relative;
}

.section.contact-us-card-wrapper .cards-wrapper .cards ul li:first-child .cards-card-body ul li:last-child:has(p >a) {
    display: none;
}
.section.contact-us-card-wrapper .cards-wrapper .cards ul li:first-child .cards-card-body ul li:last-child:has(p >a) p a{
    border-radius: 8px;
    padding: 8px 16px;
    border: 1px solid #365069;
    font: 700 12px 'nunito-bold', 'sans-serif';
    line-height: 16px;
    color: #365069;
    background: #ffffff;
    margin: 0;
    text-decoration: none;
}
.section.contact-us-card-wrapper .cards-wrapper .cards ul li .cards-card-body ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    /* width: 100%; */
}

.section.contact-us-card-wrapper .cards-wrapper .cards ul li .cards-card-body ul li,
.section.contact-us-card-wrapper .cards-wrapper .cards ul li .cards-card-body ul li strong,
.section.contact-us-card-wrapper .cards-wrapper .cards ul li .cards-card-body ul li h5 {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    line-height: 24px;
    font-weight: 400;
    color: #666666;
    font-family: Nunito-regular, sans-serif;
}

.section.contact-us-card-wrapper .cards-wrapper .cards ul li .cards-card-body ul li strong {
    color: #4D4D4D;
    font-weight: 700;
    font-family: Nunito-bold, sans-serif;

}

.section.contact-us-card-wrapper .cards-wrapper .cards ul li .cards-card-body ul li a {
    color: #4D4D4D;
    font-weight: 700;
    font-family: Nunito-bold, sans-serif;
    text-decoration: underline;
}

.section.contact-us-card-wrapper .cards-wrapper .cards ul li .cards-card-body ul li:has(em) em,
.section.contact-us-card-wrapper .cards-wrapper .cards ul li .cards-card-body ul li:has(a em) a em {
    position: absolute;
    top: 0;
    right: 0;
    color: #F26841;
    font-size: .85rem;
    line-height: 20px;
    font-weight: 700;
    border-bottom: 1px dashed;
    font-style: normal;
    font-family: Nunito-bold, sans-serif;
}

.section.contact-us-card-wrapper .cards-wrapper .cards ul li .cards-card-body>p span {
    display: contents;
}

.section.contact-us-card-wrapper .cards-wrapper .cards ul li .cards-card-body>p span img {
    width: 64px;
    height: 64px;
    display: block;
    background-size: contain;
    object-fit: fill;
}

.section.contact-us-card-wrapper .cards-wrapper .cards ul li .cards-card-body>p:has(span img):last-child span img {
    width: 80px;
    height: 80px;
    display: block;
    background-size: contain;
    object-fit: fill;
}

@media screen and (min-width:768px) and (max-width:1200px) {
    .section.contact-us-card-wrapper .cards-wrapper>.cards>ul>li:last-child .cards-card-body ul li:first-child {
        max-width: 60%;
    }
}

@media screen and (max-width: 768px) {

    .section.contact-us-card-wrapper .cards-wrapper>.cards>ul {
        gap: 19px;
        grid-template-columns: 1fr;
    }

    .section.contact-us-card-wrapper .cards-wrapper .cards ul li:first-child .cards-card-body ul li:last-child:has(p >a){
        display: block;
    }

    .section.contact-us-card-wrapper .cards-wrapper>.cards>ul>li .cards-card-body {
        align-items: start;
    }

    .section.contact-us-card-wrapper .cards-wrapper>.cards>ul>li .cards-card-body ul {
        align-self: center;
    }

    .section.contact-us-card-wrapper .cards-wrapper .cards ul li .cards-card-body>p span img {
        width: 40px;
        height: 40px;
    }

    .section.contact-us-card-wrapper .cards-wrapper .cards ul li .cards-card-body>p:has(span img):last-child span img {
        display: none;
    }

    .section.contact-us-card-wrapper .cards-wrapper>.cards>ul li:nth-child(3) .cards-card-body ul li:nth-child(n+2) {
        display: none;
    }

    .section.contact-us-card-wrapper .cards-wrapper .cards ul li:last-child .cards-card-body ul {
        margin-bottom: 25px;
    }

    .section.contact-us-card-wrapper .cards-wrapper .cards ul li .cards-card-body ul li:has(em) em,
    .section.contact-us-card-wrapper .cards-wrapper .cards ul li .cards-card-body ul li:has(a em) a em {
        bottom: 0;
        top: unset;
        right: unset;
    }

    .section.contact-us-card-wrapper .cards-wrapper .cards ul li .cards-card-body ul li,
    .section.contact-us-card-wrapper .cards-wrapper .cards ul li .cards-card-body ul li strong,
    .section.contact-us-card-wrapper .cards-wrapper .cards ul li .cards-card-body ul li h5 {
        font-size: 12px;
    }
}

/* Download Piramal App Start */

.section.contact-us-download-wrapper div:nth-child(2) {
    left: calc((100% - 1120px) / 2);
    margin-top: 20px;
}

.section.contact-us-download-wrapper div:nth-child(2) ul {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 12px;
    margin-top: 25px;
}

.section.contact-us-download-wrapper div:nth-child(2) ul li {
    max-width: 110px;
    font: 400 12px 'nunito-regular', 'sans-serif';
    line-height: 16px;
}

.section.contact-us-download-wrapper div:nth-child(2) ul li span {
    display: contents;
}

.section.contact-us-download-wrapper div:nth-child(2) ul li span img {
    display: block;
    height: 81px;
    width: 81px;
}

.section.contact-us-download-wrapper .default-content-wrapper p:last-child {
    display: none;
}

.section.contact-us-download-wrapper .default-content-wrapper>p:last-child>a {
    position: absolute;
    background: #f26841;
    border-radius: 8px;
    color: #fff;
    font-family: "Nunito-Bold", sans-serif;
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 16px;
    padding: 8px 15px;
    bottom: 96px;
    left: 25px;

}

@media screen and (max-width: 768px) {
    .section.download-piramal-wrapper div:nth-child(2) {
        display: block;
        left: unset;
        top: unset;
    }

    .section.download-piramal-wrapper .default-content-wrapper>*:nth-child(n+1) {
        display: none;
    }

    .section.contact-us-download-wrapper .default-content-wrapper p:last-child {
        display: block;
        position: relative;
        left: unset;
        top: unset;
        bottom: unset;
    }

    .section.download-piramal-wrapper .default-content-wrapper>*:nth-child(n+1):has(p>a) {
        display: block;
    }
}

/* Download Piramal App End  */