.section.contact-us-card-wrapper .cards-wrapper>.cards>ul {

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.section.contact-us-card-wrapper .cards-wrapper>.cards>ul>li {
    background-color: #E9F3FD;
    border-radius: 16px;
    padding: 16px;
    height: 100%;
    display: flex;
}

.section.contact-us-card-wrapper .cards-wrapper>.cards>ul>li .cards-card-body:first-child {
    display: none;
}

.section.contact-us-card-wrapper .cards-wrapper>.cards>ul>li .cards-card-body {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: start;
    margin: 0;
    width: 100%;
    position: relative;
}

.section.contact-us-card-wrapper .cards-wrapper .cards ul li:first-child .cards-card-body ul li:last-child:has(p >a) {
    display: none;
}
.section.contact-us-card-wrapper .cards-wrapper .cards ul li:first-child .cards-card-body ul li:last-child:has(p >a) p a{
    border-radius: 8px;
    padding: 8px 16px;
    border: 1px solid #365069;
    font: 700 12px 'nunito-bold', 'sans-serif';
    line-height: 16px;
    color: #365069;
    background: #ffffff;
    margin: 0;
    text-decoration: none;
}
.section.contact-us-card-wrapper .cards-wrapper .cards ul li .cards-card-body ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    /* width: 100%; */
}

.section.contact-us-card-wrapper .cards-wrapper .cards ul li .cards-card-body ul li,
.section.contact-us-card-wrapper .cards-wrapper .cards ul li .cards-card-body ul li p,
.section.contact-us-card-wrapper .cards-wrapper .cards ul li .cards-card-body ul li strong,
.section.contact-us-card-wrapper .cards-wrapper .cards ul li .cards-card-body ul li h5,
.section.contact-us-card-wrapper .cards-wrapper .cards ul li .cards-card-body ul li h6,
.section.contact-us-card-wrapper .cards-wrapper .cards ul li .cards-card-body ul li ul li {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    line-height: 24px;
    font-weight: 400;
    color: #666666;
    font-family: Nunito-Regular, sans-serif;
}

.section.contact-us-card-wrapper .cards-wrapper .cards ul li .cards-card-body ul li ul{
    display: block;
    margin-bottom: 6px;
}

.section.contact-us-card-wrapper .cards-wrapper .cards ul li .cards-card-body ul li h3{
    color: #000000;
    font-size: 12px;
    font-weight: 700;
    font-family: Nunito-Bold, sans-serif;
}

.section.contact-us-card-wrapper .cards-wrapper .cards ul li .cards-card-body ul li h6,
.section.contact-us-card-wrapper .cards-wrapper .cards ul li .cards-card-body ul li h4{
    color: #7a7a83;
    font-size: 12px;
    padding-top: 2px;
    font-weight: 400;
    font-family: Nunito-Regular, sans-serif;
}

.section.contact-us-card-wrapper .cards-wrapper .cards ul li .cards-card-body ul li h4{
    color: #000;
}

.section.contact-us-card-wrapper .cards-wrapper .cards ul li .cards-card-body ul li strong,
.section.contact-us-card-wrapper .cards-wrapper .cards ul li .cards-card-body ul li ul li strong {
    color: #4D4D4D;
    font-weight: 700;
    font-family: Nunito-Bold, sans-serif;
}
.section.contact-us-card-wrapper .cards-wrapper .cards ul li .cards-card-body ul li a {
    color: #4D4D4D;
    font-weight: 700;
    font-family: Nunito-Bold, sans-serif;
    text-decoration: underline;
}

.section.contact-us-card-wrapper .cards-wrapper .cards ul li .cards-card-body ul li a:has(sup),
.section.support-contact-us-wrapper .wrappercreation-wrapper .wrappercreation .wrapper-creation-container .columns-wrapper .columns div div p>strong>a:has(sup){
    background-color: unset;
    padding: unset;
    margin: unset;
    border: unset;
    overflow: unset;
    text-decoration: none;
}

.section.contact-us-card-wrapper .cards-wrapper .cards ul li .cards-card-body ul li a:has(sup) sup,
.section.support-contact-us-wrapper .wrappercreation-wrapper .wrappercreation .wrapper-creation-container .columns-wrapper .columns div div p>strong>a:has(sup) sup{
    color: #4d4d4d;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    font-family: Nunito-Bold, sans-serif;
}

.section.contact-us-card-wrapper .cards-wrapper .cards ul li .cards-card-body ul li h5{
    color: #27272A;
    font-family: Nunito-Regular, sans-serif;
    font-weight: 400;
}

.section.contact-us-card-wrapper .cards-wrapper .cards ul li .cards-card-body ul li ul li:has(em){
    position: absolute;
    top: 0;
    right: 0;
}

.section.contact-us-card-wrapper .cards-wrapper .cards ul li .cards-card-body ul li:has(em) em {
    /* position: absolute; */
    top: 0;
    right: 0;
    color: #F26841;
    font-size: .85rem;
    line-height: 20px;
    font-weight: 700;
    font-style: normal;
    font-family: Nunito-Bold, sans-serif;
}
.section.contact-us-card-wrapper .cards-wrapper .cards ul li .cards-card-body ul li:has(em a) em a{
    color: #F26841;
    font-size: .85rem;
    line-height: 20px;
    font-weight: 700;
    /* border-bottom: 1px dashed; */
    font-style: normal;
    text-decoration: underline dashed;
    font-family: Nunito-Bold, sans-serif;
}
.section.contact-us-card-wrapper .cards-wrapper .cards ul li .cards-card-body>p span {
    display: contents;
}

.section.contact-us-card-wrapper .cards-wrapper .cards ul li .cards-card-body>p span img {
    width: 54px;
    height: 54px;
    display: block;
    background-size: contain;
    object-fit: fill;
}

.section.contact-us-card-wrapper .cards-wrapper .cards ul li .cards-card-body>p:has(span img):last-child span img {
    width: 80px;
    height: 80px;
    display: block;
    background-size: contain;
    object-fit: fill;
}

@media screen and (min-width:768px) and (max-width:1200px) {
    .section.contact-us-card-wrapper .cards-wrapper>.cards>ul>li:last-child .cards-card-body ul li:first-child {
        max-width: 60%;
    }
}

@media screen and (max-width: 768px) {

    .section.contact-us-card-wrapper .cards-wrapper>.cards>ul {
        gap: 19px;
        grid-template-columns: 1fr;
    }

    .section.contact-us-card-wrapper .cards-wrapper .cards ul li:first-child .cards-card-body ul li:last-child:has(p >a){
        display: block;
    }

    .section.contact-us-card-wrapper .cards-wrapper>.cards>ul>li .cards-card-body {
        align-items: start;
    }

    .section.contact-us-card-wrapper .cards-wrapper>.cards>ul>li .cards-card-body ul {
        align-self: center;
    }

    .section.contact-us-card-wrapper .cards-wrapper .cards ul li .cards-card-body>p span img {
        width: 40px;
        height: 40px;
    }

    .section.contact-us-card-wrapper .cards-wrapper .cards ul li .cards-card-body>p:has(span img):last-child span img {
        display: none;
    }

    .section.contact-us-card-wrapper .cards-wrapper>.cards>ul li:nth-child(3) .cards-card-body ul li:nth-child(n+2) {
        display: none;
    }

    .section.contact-us-card-wrapper .cards-wrapper .cards ul li:last-child >.cards-card-body >ul {
        margin-bottom: 25px;
    }

    .section.contact-us-card-wrapper .cards-wrapper .cards ul li .cards-card-body ul li ul li:has(em) {
        bottom: 0;
        top: unset;
        right: unset;
    }

    .section.contact-us-card-wrapper .cards-wrapper .cards ul li .cards-card-body ul li,
    .section.contact-us-card-wrapper .cards-wrapper .cards ul li .cards-card-body ul li p,
    .section.contact-us-card-wrapper .cards-wrapper .cards ul li .cards-card-body ul li strong,
    .section.contact-us-card-wrapper .cards-wrapper .cards ul li .cards-card-body ul li h5 {
        font-size: 12px;
    }
    .section.contact-us-card-wrapper .cards-wrapper .cards ul li .cards-card-body ul li a:has(sup) sup,
.section.support-contact-us-wrapper .wrappercreation-wrapper .wrappercreation .wrapper-creation-container .columns-wrapper .columns div div p>strong>a:has(sup) sup{
    font-size: 14px;
}
.section.contact-us-card-wrapper .cards-wrapper .cards ul li .cards-card-body ul li ul {
    margin-bottom: 6px;
}
}

/* Download Piramal App Start */
.section.contact-us-download-wrapper{
    position: relative;
}
.section.contact-us-download-wrapper >.default-content-wrapper {
    display: block;
    position: absolute;
    left: calc((100% - 1120px) / 2);
    top: 50px;
}
.section.contact-us-download-wrapper>.default-content-wrapper>h4 {
    margin: 0;
    color: #fff;
    font-family: "Nunito-Bold", sans-serif;
    font-size: 1.875rem;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 8px;
}
.section.contact-us-download-wrapper>.default-content-wrapper>p {
    margin: 0px;
    color: #fff;
    font-family: "Nunito-Regular", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 32px;
}


.section.contact-us-download-wrapper .default-content-wrapper ul {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 12px;
    margin-top: 25px;
}

.section.contact-us-download-wrapper .default-content-wrapper ul li {
    max-width: 110px;
    font: 700 12px 'Nunito-Bold', 'sans-serif';
    line-height: 16px;
    color: #fff;
}

.section.contact-us-download-wrapper .default-content-wrapper ul li span {
    display: contents;
}

.section.contact-us-download-wrapper .default-content-wrapper ul li span img {
    display: block;
    height: 81px;
    width: 81px;
}

.section.contact-us-download-wrapper .default-content-wrapper p:last-child {
    display: none;
}

.section.contact-us-download-wrapper .default-content-wrapper>p:last-child>a {
    /* position: absolute; */
    background: #f26841;
    border-radius: 8px;
    color: #fff;
    font-family: "Nunito-Bold", sans-serif;
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 16px;
    padding: 8px 15px;
    /* bottom: 96px;
    left: 25px; */

}
.section.contact-us-download-wrapper .imgwithlink-wrapper>.imgwithlink>.image-href-desktop>a>picture>img{
    min-height: 260px;
    height: 260px;
    border-radius: 20px;
    display: block;
    width: 100%;
}
section.contact-us-download-wrapper .imgwithlink-wrapper .imgwithlink{
    display: none;
}
.section.contact-us-download-wrapper .default-content-wrapper>*:nth-child(-n+3) {
    display: flex;
}
.section.contact-us-download-wrapper .default-content-wrapper>*:nth-child(n+4) {
    display: none;
}
@media (min-width: 1025px) and (max-width: 1300px) {
    .section.contact-us-download-wrapper .default-content-wrapper {
        left: calc((100% - 891px) / 2);
    }
}
/* @media (min-width: 1025px) and (max-width: 1300px) {
    
} */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .section.contact-us-download-wrapper .default-content-wrapper {
        /* top: 146px; */
        left: 58px;
    }
        /* .section.contact-us-download-wrapper .default-content-wrapper>*:nth-child(n+1) {
            display: flex;
        } */
}
@media screen and (max-width: 768px) {
    .section.contact-us-download-wrapper .default-content-wrapper {
        display: block;
        left: unset;
        top: 0;
        position: absolute;
        top: 25px;
        left: 25px;
    }
    .section.contact-us-download-wrapper .imgwithlink-wrapper>.imgwithlink>.image-href-desktop>a>picture>img{
        display: none;
    }
    .section.contact-us-download-wrapper .imgwithlink-wrapper .imgwithlink{
        display: block;
        height: 176px;
        background-image: linear-gradient(266deg, #365069 .16%, #5e7387 101.15%);
        border-radius: 16px;
        position: relative;
    
    }
    .section.contact-us-download-wrapper .imgwithlink-wrapper .imgwithlink .image-href-mobile a img{
        position: absolute;
        right: 0;
        bottom: 0;
    }
    .section.contact-us-download-wrapper>.default-content-wrapper>h4{
        font-size: 18px;
        font-weight: 700;
        color: #fff;
        line-height: unset;
    }
    .section.contact-us-download-wrapper>.default-content-wrapper>p{
        font-size: 14px;
        color: #fff;
        padding-top: 2px;
        position: unset;
        margin-bottom: 0;
        line-height: unset;
        margin-bottom: 4px;
    }
    .section.contact-us-download-wrapper .default-content-wrapper>*:nth-child(-n+3) {
        display: none;
    }
    .section.contact-us-download-wrapper .default-content-wrapper>*:nth-child(n+4) {
        display: block;
    }
    .section.contact-us-download-wrapper .default-content-wrapper p:last-child {
        display: block;
        position: relative;
        margin-top: 8px;
    }

    .section.contact-us-download-wrapper .default-content-wrapper>*:nth-child(n+1):has(p>a) {
        display: block;
    }
}

/* Download Piramal App End  */