.neeyat-banner.teaserv2-container{
    background-color: #f8f8f8;
}

.neeyat-banner.teaserv2-container.mb-40{
    margin-bottom: 0px;
    padding-bottom: 40px;
}

.neeyat-banner .teaserv2-wrapper .teaserv2 a {
    text-decoration: none;
}

.neeyat-banner .teaserv2-wrapper .teaserv2 a .bg-image{
    display: flex;
    height: 190px;
    border-radius: 16px;
    flex-direction: row-reverse;
    background-color: var(--swansdown);
}

.neeyat-banner .teaserv2-wrapper .teaserv2 a .bg-image .front-image{
    width: 50%;
    display: flex;
    flex: 0 0 auto;
    justify-content: right;
}

.neeyat-banner .teaserv2-wrapper .teaserv2 a .bg-image .front-image picture img {
    width: 388px;
    height: auto;
}

.neeyat-banner .teaserv2-wrapper .teaserv2 a .bg-image .rte-text-description{
    width: 50%;
    display: flex;
    flex: 0 0 auto;
    padding-left: 4rem;
    align-items: center;
    justify-content: left;
}

.neeyat-banner .teaserv2-wrapper .teaserv2 a .bg-image .rte-text-description p,
.neeyat-banner .teaserv2-wrapper .teaserv2 a .bg-image .rte-text-description p strong {
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    color: #212529;
    font-family: 'Nunito-Bold';
}


.neeyat-banner .teaserv2-wrapper .teaserv2 a .bg-image .rte-text-description p  strong {
    margin-top: 1rem;
    color: var(--orange);
    display: inline-block;
}

@media screen and (max-width: 768px) {

    .neeyat-banner.teaserv2-container.mob-mb-20{
        margin-bottom: 0px;
        padding-bottom: 20px;
    }

    .neeyat-banner .teaserv2-wrapper .teaserv2 a .bg-image{
        height: 84px;
    }

    .neeyat-banner .teaserv2-wrapper .teaserv2 a .bg-image .front-image picture img {
        width: auto;
        height: 100%;
    }

    .neeyat-banner .teaserv2-wrapper .teaserv2 a .bg-image .rte-text-description{
        padding-left: 1.25rem;
    }

    .neeyat-banner .teaserv2-wrapper .teaserv2 a .bg-image .rte-text-description p,
    .neeyat-banner .teaserv2-wrapper .teaserv2 a .bg-image .rte-text-description p strong {
        font-size: 16px;
        line-height: 20px;
    }
}

@media screen and (max-width: 576px) {
    .neeyat-banner .teaserv2-wrapper .teaserv2 a .bg-image .rte-text-description p,
    .neeyat-banner .teaserv2-wrapper .teaserv2 a .bg-image .rte-text-description p strong {
        font-size: 12px;
        line-height: 12px;
    }

    .neeyat-banner .teaserv2-wrapper .teaserv2 a .bg-image .rte-text-description p strong {
        margin-top: .5rem;
    }
}