.section.neeyat-slogan {
    padding: 60px 0 40px 0px;
}

.section.neeyat-slogan .rte-wrapper .rte.block>div:first-child>div:first-child p:first-child {
    line-height: 1.3;
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: var(--gradient-gray);
    font-family: "Nunito-Regular";
}

.section.neeyat-slogan .rte-wrapper .rte.block>div:first-child>div:first-child p:nth-child(2),
.section.neeyat-slogan .rte-wrapper .rte.block>div:first-child>div:first-child h5 {
    font-weight: 700;
    line-height: 1.3;
    font-size: 1.5rem;
    font-style: italic;
    font-family: "Nunito-Bold";
}

.section.neeyat-slogan .rte-wrapper .rte.block>div:first-child>div:first-child h5:last-child {
    margin-bottom: 20px;
}

@media screen and (max-width: 1024px) {
    .section.neeyat-slogan {
        padding: 40px 0 20px 0px;
    }
    
    .section.neeyat-slogan .rte-wrapper .rte.block>div:first-child>div:first-child p:first-child {
        font-size: 19px;
        line-height: 25px;
    }

    .section.neeyat-slogan .rte-wrapper .rte.block>div:first-child>div:first-child p:nth-child(2),
    .section.neeyat-slogan .rte-wrapper .rte.block>div:first-child>div:first-child p:nth-child(3) {
        font-size: 19px;
        line-height: 25px;
    }
}