/* media banner css start */
.section.multi-calculator-wrapper.media-banner .teaser-wrapper .teaser .background {
    min-height: unset;
    align-items: center;
    padding-top: 74px;
    padding-bottom: 62px;
}

@media screen and (max-width:1024px) {
    .section.multi-calculator-wrapper.media-banner .teaser-wrapper .teaser .background {
        padding-top: 58px;
    }
}
/* media banner css end */

.section.media-coverage-wrapper .tab-link-wrapper .tab-link ul li a{
    background-color: #fff;
    border: 1px solid #333;
    border-radius: 9999px;
    cursor: pointer;
    display: block;
    margin-right: 4pc;
    padding: 8px 24px;
    width: fit-content;
    color: #000;
    font-family: Nunito-Semibold, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 24px;
    text-decoration: none;
}
.section.media-coverage-wrapper .tab-link-wrapper .tab-link ul li strong a{
    background-color: #365069;
    border: 1px solid #365069;
    color: #fff;
}

.section.media-coverage-wrapper .tab-link-wrapper .tab-link ul{
    display: flex;
    margin-bottom: 24px;
}
.section.media-coverage-wrapper .tab-link-wrapper .tab-link ul li{
    position: relative;
}
.section.media-coverage-wrapper .tab-link-wrapper .tab-link ul li::after{
    background-color: #afb9c3;
    border-radius: 4px;
    content: "";
    height: 24px;
    margin: auto 0;
    position: absolute;
    right: 14%;
    top: 20%;
    width: 1px;
}

.section.media-coverage-wrapper .tab-link-wrapper .tab-link ul li:nth-child(2):after{
    content: unset;
}

/* media coverage and press conference tab and cards component */

.section.media-cards-wrapper .carousel-inner{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    list-style: none;
    border-bottom: 2px solid var(--solitude);
    gap: 16px;
    margin-bottom: 48px;
    width: fit-content;
}
    .section.media-cards-wrapper .carousel-item{
    color: var(--black);
    font-family: Nunito-Regular, sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: -1px;
    padding: 0 0 9px;
}
.section.media-cards-wrapper .carousel-item.active{
    border-bottom: 2px solid var(--orange);
    color: var(--orange);
    font-family: Nunito-Extrabold, sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 32px;
}
.section.media-cards-wrapper .panel-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
}
.section.media-cards-wrapper .teaser .background .front-picture picture img{
    height: 81px;
    width: 102px;
}
.section.media-cards-wrapper .long-description ul{
    display: flex;
    padding: 8px 0;
}
.section.media-cards-wrapper .long-description ul li{
    color: var(--gradient-gray);
    font-family: Nunito-Semibold, sans-serif;
    font-size: 0.875rem;
    line-height: 20px;
}
.section.media-cards-wrapper .long-description ul li a{
    color: var(--gradient-gray);
    font-family: Nunito-Semibold, sans-serif;
    font-size: 0.875rem;
    line-height: 20px;
}
.section.media-cards-wrapper .long-description ul li:nth-child(3) a sub,
.section.media-cards-wrapper .long-description ul li:nth-child(2) a sub{
    color: var(--orange);
    font-family: Nunito-Bold, sans-serif;
    font-size: 1rem;
    line-height: 24px;
    text-decoration: none;
}
.section.media-cards-wrapper .long-description p{
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    overflow: hidden;
    color: var(--black);
    font-family: Nunito-Regular, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
}
.section.media-cards-wrapper .panel-container .teaser{
    box-shadow: 0 5px 10px rgba(0, 0, 0, .12);
    border-radius: 16px;
    cursor: pointer;
}
.section.media-cards-wrapper .foreground{
    padding: 16px;
}
.section.media-cards-wrapper .front-picture{   
    align-items: flex-end;
    background-color: var(--greyishblue);
    border-radius: 16px 16px 0 0;
    display: flex;
    height: 96px;
    justify-content: center;
    width: 100%;
}
.section.media-cards-wrapper .front-picture picture{
    display: flex;
}
.section.press-release-card-wrapper .default-content-wrapper ul li:nth-child(1){
    font-size: 0.75rem;
    line-height: 1rem;
}
.section.press-release-card-wrapper .default-content-wrapper ul li:nth-child(2){
    font-size: 1rem;
    line-height: 1.5rem;
}
.section.press-release-card-wrapper .default-content-wrapper ul{
    padding: 14px 40px 14px 14px;
    background-color: #F4F4F4;
    color: #333;
    margin-bottom: 16px;
}
.section.press-release-card-wrapper .default-content-wrapper ul:hover{
    background-color: var(--orange);
    color: var(--white);
}
.section.press-release-card-wrapper .default-content-wrapper ul li{
    font-family: Nunito-Bold, sans-serif;
}
.section.press-release-card-wrapper .default-content-wrapper{
    padding-top: 48px;
}

.section.media-cards-wrapper .teaser .background {
    position: relative;
}
.section.media-cards-wrapper .long-description ul li:nth-child(3)>a,
.section.media-cards-wrapper .long-description ul li:nth-child(2)>a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.section.media-cards-wrapper .long-description ul li:nth-child(3) a sub,
.section.media-cards-wrapper .long-description ul li:nth-child(2)>a sub{
    position: absolute;
    bottom: 22px;
    right: 15px;
}

.section.media-cards-wrapper .long-description ul li:nth-child(1){
    padding-right: 3px;
}

.media-read-more-hide .tab-container-wrapper .tab-container .panel-container .teaser .background .foreground .text .long-description ul> li:nth-child(2) sub,
.media-read-more-hide .tab-container-wrapper .tab-container .panel-container .teaser .background .foreground .text .long-description ul> li:nth-child(3) sub{
    display: none;
}

@media screen and (max-width:767px) {
    .section.media-cards-wrapper .panel-container{
        gap: 16px;
        grid-template-columns: 1fr;
        margin-top: 24px;
    }
    .section.media-cards-wrapper .carousel-item.active{
        font-size: 1rem;
        line-height: 24px;
    }
    .section.media-cards-wrapper .carousel-item{
        font-size: 1rem;
        line-height: 24px;
    }
    .section.media-cards-wrapper .carousel-inner{
        margin: 16px auto 24px;
    }
    .section.media-coverage-wrapper .tab-link-wrapper .tab-link ul li a{
        font-size: 0.75rem;
        margin-right: 32px;
        padding: 9px 16px;
    }
    .section.media-coverage-wrapper .tab-link-wrapper .tab-link ul li:nth-child(2) a{
        font-size: 0.75rem;
        margin: 0;
    }
    .section.media-coverage-wrapper .tab-link-wrapper .tab-link ul{
        justify-content: center;
    }
    .section.media-coverage-wrapper .tab-link-wrapper .tab-link ul li::after{
        right: 10%;
    }
}

@media screen and (min-width:768px) and (max-width:1024px) {
    .section.media-cards-wrapper .long-description ul li:last-child a sub{
        width: 40px;
        line-height: 22px;
    }    
}