/* media press release list start */
.section.press-release-list-wrapper .default-content-wrapper ul {
    margin: 0;
    padding-top: 24px;
}

.section.press-release-list-wrapper .default-content-wrapper ul>li>a{
    padding: 0;
}

.section.press-release-list-wrapper .default-content-wrapper ul>li>a{
    border-radius: unset;
    padding: 14px 40px 14px 14px;
    line-height: 10px;
}

.section.press-release-list-wrapper .default-content-wrapper ul>li>a:hover>sub{
    color: #fff;
}

.section.press-release-list-wrapper .default-content-wrapper ul>li>a>sub{
    font-family: 'Nunito-Semibold', sans-serif;
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 16px;
    color: #000;
}

.section.press-release-list-wrapper .default-content-wrapper ul>li>a>sub>strong {
    display: block;
    font-family: 'Nunito-Bold', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    line-height: 24px;
}

.section.press-release-list-wrapper .default-content-wrapper ul>li>a::after {
    content: none;
}

@media screen and (max-width: 767px) {
    .section.press-release-list-wrapper .default-content-wrapper ul {
        padding: 0;
    }
}

/* media press release list end */

/* media accordian start */
.section.media-acc-wrapper .accordion-group-wrapper .accordion-group .accordion>details>summary {
    border-radius: 0;
    padding: 16px 80px 16px 40px;
    color: #20374e;
}

.section.media-acc-wrapper .accordion-group-wrapper .accordion-group .accordion>details>div {
    padding: 16px;
    border: 1px solid #ccc;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.section.media-acc-wrapper .accordion-group-wrapper .accordion-group .accordion>details>div>p {
    margin: 0;
    color: #333;
    font-family: 'Nunito-Regular', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
}

.section.media-acc-wrapper .accordion-group-wrapper .accordion-group .accordion>details>div>ul {
    list-style: disc;
    border: none;
}

.section.media-acc-wrapper .accordion-group-wrapper .accordion-group .accordion>details>div>ul>li {
    font-family: 'Nunito-Regular', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    align-items: center;
    color: var(--text-color);
    cursor: pointer;
    display: flex;
    min-height: 40px;
    padding: 8px 0 0 22px;
    position: relative;
    border: none;
}

.section.media-acc-wrapper .accordion-group-wrapper .accordion-group .accordion>details>summary::after {
    color: #333;
    font-family: 'Nunito-Bold', sans-serif;
    line-height: 42px;
    top: 8px;
}

.section.media-acc-wrapper .accordion-group-wrapper .accordion-group .accordion:first-child>details summary::before {
    content: "\e900";
    font-family: 'icomoon-media';
    position: absolute;
    top: 35%;
    left: 16px;
    font-size: 18px;
    color: #000;
}

.section.media-acc-wrapper .accordion-group-wrapper .accordion-group .accordion:nth-child(2)>details summary::before {
    content: "\e901";
    font-family: 'icomoon-media-bell';
    position: absolute;
    top: 35%;
    left: 16px;
    font-size: 16px;
    color: #000;
}

.section.media-acc-wrapper .accordion-group-wrapper .accordion-group .accordion>details>summary.active::before {
    color: #fff;
}

.section.media-acc-wrapper .accordion-group-wrapper .accordion-group .accordion>details>div>ul>li::before {
    background: var(--text-color);
    border-radius: 50%;
    content: "";
    display: block;
    height: 9px;
    left: 0;
    position: absolute;
    width: 9px;
}

.section.media-acc-wrapper .accordion-group-wrapper .accordion-group .accordion>details>div>ul>li::after {
    content: none;
}

.section.media-acc-wrapper .accordion-group-wrapper .accordion-group .accordion>details>div>ul>li>a>sub {
    color: var(--text-color);
    font-family: 'Nunito-Regular', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
}

.section.media-acc-wrapper .accordion-group-wrapper .accordion-group .accordion>details>div>ul>li:hover a sub{
    color: #356ca3;
    text-decoration-line: underline;
}

/* media accordian end */