/* Eligiblity Criteria Start */
.section.eligibility-criteria-wrapper .default-content-wrapper>h2 {
    color: var(--black);
    display: block;
    font-family: 'Nunito-Extrabold', sans-serif;
    font-size: 2rem;
    font-weight: 800;
    line-height: 48px;
    margin-bottom: 16px;
}

.section.eligibility-criteria-wrapper .default-content-wrapper>p {
    color: var(--black);
    display: block;
    font-family: 'Nunito-Regular', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
}

.section.eligibility-criteria-wrapper .default-content-wrapper>p>strong {
    color: var(--black);
    font-family: 'Nunito-Bold',sans-serif;
    font-size: 1rem;
    font-weight: 700;
    line-height: 24px;
}

.section.eligibility-criteria-wrapper .default-content-wrapper>ul {
    margin-top: 24px;
    list-style: none;
}

.section.eligibility-criteria-wrapper .default-content-wrapper>ul>li strong {
    display: block;
    color: var(--orange);
    font-family: 'Nunito-Bold', sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 8px;
}

.section.eligibility-criteria-wrapper .default-content-wrapper>ul>li>ul>li strong {
    color: var(--black);
    font-family: 'Nunito-Regular', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    line-height: 24px;
    display: inline;
}

.section.eligibility-criteria-wrapper .default-content-wrapper>ul>li>ul>li {
    color: var(--darkcharcoal);
    font-family: 'Nunito-Regular', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
}

.section.eligibility-criteria-wrapper .default-content-wrapper>p>a,
.section.eligibility-criteria-wrapper .default-content-wrapper>ul>li>ul>li>a {
    color: var(--orange);
}

@media screen and (max-width:767px) {
    .section.eligibility-criteria-wrapper {
        margin-bottom: 40px;
    }

    .section.eligibility-criteria-wrapper .default-content-wrapper>h2 {
        font-size: 1.125rem;
        line-height: 27px;
        margin-bottom: 8px;
    }

    .section.eligibility-criteria-wrapper .default-content-wrapper>ul>li strong {
        font-size: 1rem;
        line-height: 24px;
    }
}
/* Eligiblity Criteria Start */