.section.calc-mob-carousel-wrapper .default-content-wrapper h2 {
    color: var(--darkcharcoal);
    display: block;
    font-family: 'Nunito-Extrabold', sans-serif;
    font-size: 2.5rem;
    line-height: 48px;
    padding-bottom: 24px;
}

.section.calc-mob-carousel-wrapper .carousel-wrapper .panel-container .glider-track {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.section.calc-mob-carousel-wrapper .carousel-wrapper .panel-container .teaser.block {
    border-radius: 16px;
    height: 100%;
    max-width: 354px;
    width: 100%;
}

.section.calc-mob-carousel-wrapper .carousel-wrapper .panel-container .teaser.block .background {
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: 100% 100%;
    padding: 32px;
}

.section.calc-mob-carousel-wrapper .carousel-wrapper .panel-container .teaser.block .background .foreground a {
    margin: unset;
    padding: unset;
    background-color: transparent;
    border: unset;
    border-radius: unset;
    white-space: normal;
}

.section.calc-mob-carousel-wrapper .carousel-wrapper .panel-container .teaser.block .background .foreground .long-description .button-container>a {
    color: var(--white);
    font-family: 'Nunito-Extrabold', sans-serif;
    font-size: 1.25rem;
    line-height: 30px;
    max-width: 15pc;
    text-align: left;
}

.section.calc-mob-carousel-wrapper .carousel-wrapper .panel-container .teaser.block .background .foreground .long-description .button-container>a:hover {
    color: var(--orange);
}

.section.calc-mob-carousel-wrapper .carousel-wrapper .panel-container .teaser.block .background .foreground .cta>a {
    border: 1px solid var(--solitude);
    border-radius: 8px;
    color: var(--white);
    font-family: 'Nunito-Bold', sans-serif;
    font-size: 0.875rem;
    min-width: 129px;
    padding: 12px;
    text-align: center;
    margin-top: 14px;
}

.section.calc-mob-carousel-wrapper .carousel-wrapper .carousel.block .button-container.glider-dots {
    display: none;
}

/* desktop calculator carousel css start */
.section.calc-desktop-carousel-wrapper .default-content-wrapper h2 {
    color: var(--black);
    display: block;
    font-family: Nunito-Extrabold, sans-serif;
    font-size: 2rem;
    font-weight: 800;
    line-height: 40px;
    padding-bottom: 8px;
    margin-bottom: 24px;
}

.section.calc-desktop-carousel-wrapper .carousel-wrapper {
    position: relative;
}

.section.calc-desktop-carousel-wrapper .carousel-wrapper .carousel {
    position: unset;
}

.section.calc-desktop-carousel-wrapper .carousel-wrapper .panel-container .glider-track {
    gap: 10px;
}

.section.calc-desktop-carousel-wrapper .carousel-wrapper .panel-container .teaser.block {
    cursor: default;
}

.section.calc-desktop-carousel-wrapper .carousel-wrapper .panel-container .teaser.block .background .foreground .long-description p {
    color: var(--white);
    font-family: Nunito-Extrabold, sans-serif;
    font-size: 1.25rem;
    font-weight: 800;
    line-height: 30px;
    max-width: 15pc;
}

.section.calc-desktop-carousel-wrapper .carousel-wrapper .carousel .carousel-navigation-buttons .slide-prev:hover,
.section.calc-desktop-carousel-wrapper .carousel-wrapper .carousel .carousel-navigation-buttons .slide-next:hover,
.section.calc-desktop-carousel-wrapper .carousel-wrapper .carousel .carousel-navigation-buttons .slide-prev,
.section.calc-desktop-carousel-wrapper .carousel-wrapper .carousel .carousel-navigation-buttons .slide-next {
    background-color: unset;
}

.section.calc-desktop-carousel-wrapper .carousel-wrapper .carousel .carousel-navigation-buttons .slide-prev div div picture img,
.section.calc-desktop-carousel-wrapper .carousel-wrapper .carousel .carousel-navigation-buttons .slide-next div div picture img {
    height: 40px;
    width: 40px;
}

.section.calc-desktop-carousel-wrapper .carousel-wrapper .carousel .carousel-navigation-buttons .slide-prev {
    left: -60px;
}

.section.calc-desktop-carousel-wrapper .carousel-wrapper .carousel .carousel-navigation-buttons .slide-next {
    right: -60px;
}

/* desktop calculator carousel css end */

@media screen and (max-width:1024px) {
    .section.calc-mob-carousel-wrapper .default-content-wrapper h2 {
        font-size: 2rem;
        font-family: 'Nunito-Bold', sans-serif;
        font-weight: 700;
        line-height: 2rem;
    }
}

@media screen and (max-width: 767px) {
    .section.calc-mob-carousel-wrapper .default-content-wrapper h2 {
        font-size: 1.5rem;
    }

    .section.calc-mob-carousel-wrapper .carousel-wrapper .panel-container .glider-track {
        gap: 16px;
    }

    .section.calc-mob-carousel-wrapper .carousel-wrapper .panel-container .teaser.block {
        max-width: unset;
    }

    .section.calc-mob-carousel-wrapper .carousel-wrapper .carousel.block .button-container.glider-dots {
        display: flex;
        padding-top: 40px;
    }

    .section.calc-mob-carousel-wrapper .carousel-wrapper .carousel.block>.button-container button.active {
        background-color: var(--black);
        border-radius: 4px;
        width: 16px;
        opacity: 1;
    }

    .section.calc-mob-carousel-wrapper .carousel-wrapper .carousel.block>.button-container button {
        width: 4px;
        height: 4px;
        margin: 0 4px;
        border-radius: 50%;
        background: var(--black);
        opacity: .2;
        border: 1px solid var(--black);
    }

    /* desktop calculator carousel css start */
    .section.calc-desktop-carousel-wrapper .carousel-wrapper .carousel .carousel-navigation-buttons .slide-prev,
    .section.calc-desktop-carousel-wrapper .carousel-wrapper .carousel .carousel-navigation-buttons .slide-next {
        display: none;
    }
    /* desktop calculator carousel css end */
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .section.calc-desktop-carousel-wrapper .carousel-wrapper .carousel {
        margin: 0 38px;
    }

    .section.calc-desktop-carousel-wrapper .carousel-wrapper .carousel .carousel-navigation-buttons .slide-prev {
        left: 5px;
    }
    
    .section.calc-desktop-carousel-wrapper .carousel-wrapper .carousel .carousel-navigation-buttons .slide-next {
        right: 5px;
    }
}