/* cards Branchs */
.section.nearest-branchlocator-cards .nearestlocation.block .cards-branches .title h2 {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 32px;
    font-family: "Nunito-Bold";
    color: var(--darkcharcoal);
}

.section.nearest-branchlocator-cards .nearestlocation.block .cards-branches .cards-container {
    margin-top: 28px;
}

.section.nearest-branchlocator-cards .nearestlocation.block .cards-branches .cards-container .cards-wrapper {
    display: grid;
    gap: 32px 23px;
    grid-template-columns: 1fr 1fr 1fr;
}

.section.nearest-branchlocator-cards .nearestlocation.block .cards-branches .cards-container .cards-wrapper .card-box {
    height: 100%;
    border-radius: 16px;
    padding: 18px 24px 24px;
    background-color: var(--white);
    box-shadow: 0 4px 12px 0px rgb(0  0% 20%/ 8%) ,  0 4px 12px 0px rgb(0  0% 20%/ 12%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section.nearest-branchlocator-cards .nearestlocation.block .cards-branches .cards-container .cards-wrapper .card-box .card-title {
    font-weight: 700;
    line-height: 28px;
    font-size: 1.25rem;
    font-family: "Nunito-Bold";
    color: var(--darkcharcoal);
}

.section.nearest-branchlocator-cards .nearestlocation.block .cards-branches .cards-container .cards-wrapper .card-box .card-address {
    width: 90%;
    min-height: 96px;
    font-size: 1rem;
    margin-top: 12px;
    font-weight: 400;
    line-height: 24px;
    font-family: "Nunito-Regular";
    color: var(--gradient-gray);
}

.section.nearest-branchlocator-cards .nearestlocation.block .cards-branches .cards-container .cards-wrapper .card-box .card-gmail {
    display: flex;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 30px;
    line-height: 24px;
    align-items: center;
    color: var(--gradient-gray);
    font-family: "Nunito-Regular";
}

.section.nearest-branchlocator-cards .nearestlocation.block .cards-branches .cards-container .cards-wrapper .card-box .card-gmail span {
    margin-right: 8px;
}

.section.nearest-branchlocator-cards .nearestlocation.block .cards-branches .cards-container .cards-wrapper .card-box a:last-child {
    margin-top: 29px;
    font-weight: 700;
    padding: 8px 16px;
    line-height: 20px;
    text-align: center;
    border-radius: 8px;
    font-size: 0.875rem;
    color: var(--white);
    display: inline-block;
    font-family: "Nunito-Bold";
    background-color: var(--orange);
}

.section.nearest-branchlocator-cards .nearestlocation.block .cards-branches .cards-container .cards-wrapper .card-box a:last-child:hover {
    text-decoration: none;
}

@media screen and (min-width:768px) and (max-width: 1024px) {  
    .section.nearest-branchlocator-cards .nearestlocation.block .cards-branches .cards-container .cards-wrapper {
        gap: 25px 15px;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 767px) {
    .section.nearest-branchlocator-cards .nearestlocation.block .cards-branches .title h2 {
        line-height: 28px;
        font-size: 1.25rem;
    } 

    .section.nearest-branchlocator-cards .nearestlocation.block .cards-branches .cards-container {
        margin-top: 18px;
    }

    .section.nearest-branchlocator-cards .nearestlocation.block .cards-branches .cards-container .cards-wrapper {
        gap: 10px;
        grid-template-columns: auto;
    }

    .section.nearest-branchlocator-cards .nearestlocation.block .cards-branches .cards-container .cards-wrapper .card-box .card-address {
        margin-top: 8px;
    }

    .section.nearest-branchlocator-cards .nearestlocation.block .cards-branches .cards-container .cards-wrapper .card-box .card-gmail {
        margin-top: 25px;
    }
}