.section.forms-pdf .formformatpdf-wrapper .formformatpdf >div >div h2, 
.section.forms-pdf .formformatpdf-wrapper .formformatpdf >div >div h1 {
    color: var(--orange);
    font-family: Nunito-Extrabold, sans-serif;
    font-size: 1.75rem;
    font-weight: 800;
    line-height: 42px;
    margin: 24px 0;
}
.section.forms-pdf{

}
.section.forms-pdf .formformatpdf-wrapper .formformatpdf >div >div ul {
    margin-top: 16px;
}

.section.forms-pdf .formformatpdf-wrapper .formformatpdf >div >div ul>li {
    margin-bottom: 16px;
}
.section.forms-pdf .formformatpdf-wrapper .formformatpdf >div >div ul>li>a sub{
    font-size: 1rem;
    font-family: 'Nunito-Regular', sans-serif;
}
.section.forms-pdf .formformatpdf-wrapper .formformatpdf >div >div ul>li>a {
    background: var(--whitesmoke);
    border-radius: 4px;
    color: #333;
    display: block;
    font-family: Nunito-Regular, sans-serif;
    font-size: 1rem;
    line-height: 24px;
    padding: 20px 50px 20px 16px;
    position: relative;
}

.section.forms-pdf .formformatpdf-wrapper .formformatpdf >div >div ul>li>a:hover {
    background: var(--orange);
    color: var(--white);
    text-decoration: none;
}
.section.forms-pdf .formformatpdf-wrapper .formformatpdf >div >div ul>li>a::after {
    content: "\eadf";
    font-family: 'icomoon' !important;
    position: absolute;
    right: 24px;
    top: 35%;
    height: 20px;
    width: 20px;
    color: #333;
}

.section.forms-pdf .formformatpdf-wrapper .formformatpdf >div >div ul>li>a:hover::after {
   color: var(--white);
}

@media screen and (max-width: 767px) {
    .section.forms-pdf .formformatpdf-wrapper .formformatpdf >div >div h2 {
        font-size: 1.125rem;
        line-height: 27px;
        margin: 40px 0 14px;
    }

    .section.forms-pdf .formformatpdf-wrapper .formformatpdf >div >div ul {
        margin-top: 12px;
    }

    .section.forms-pdf .formformatpdf-wrapper .formformatpdf >div >div ul>li {
        margin-bottom: 12px;
    }
}