.otppopup {
    display: none;
}

.otppopup .loan-form-sub-parent {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1210;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

@media screen and (max-width: 1024px) {
    .otppopup .loan-form-sub-parent {
        transform: translateY(100%);
        width: 100%;
        height: 92vh;
        transition: transform 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
        position: fixed;
        top: auto;
        left: 0;
        right: 0;
        bottom: 50%;
        max-height: 100%;
        align-items: unset;
        justify-content: unset;
        transform: translateY(55%);
    }
}

.otppopup .loan-form-sub-parent>.cmp-container {
    position: relative;
    overflow: hidden;
    background-color: white;
    color: #000000de;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 11px 15px -7px, rgba(0, 0, 0, 0.14) 0px 24px 38px 3px, rgba(0, 0, 0, 0.12) 0px 9px 46px 8px;
    margin: 32px;
    position: relative;
    display: flex;
    flex-direction: column;
    max-height: calc(100% - 64px);
    width: 690px;
    max-width: 1200px;
}

@media screen and (max-width: 1024px) {
    .otppopup .loan-form-sub-parent>.cmp-container {
        width: 100%;
        margin: 0 auto;
        max-height: unset;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
}

.otppopup .loan-form-sub-parent>.cmp-container .loan-form {
    border-radius: 12px;
    overflow: hidden;
    background: linear-gradient(#fff4e7 0%, rgba(255, 255, 255, 0) 100%);
    filter: drop-shadow(rgba(51, 51, 51, 0.07) 0px 0px 8px);
    overflow-y: scroll;
    max-height: 592px;
    height: 100%;
    padding: 24px 32px 0px;
}

@media screen and (max-width: 1024px) {
    .otppopup .loan-form-sub-parent>.cmp-container .loan-form {
        max-height: 100%;
        background: unset;
        padding: unset;
    }
}

.otppopup .loan-form-sub-parent>.cmp-container .loan-form>.cmp-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

@media screen and (max-width: 1024px) {
    .otppopup .loan-form-sub-parent>.cmp-container .loan-form>.cmp-container {
        padding: 24px 16px 0px;
        background: linear-gradient(#fff4e7 0%, rgba(255, 255, 255, 0) 100%);
    }
}

.otppopup .loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .loan-form-heading-parent>.cmp-container {
    display: flex;
    align-items: center;
    gap: 16px;
}

.otppopup .loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .loan-form-heading-parent>.cmp-container .image:nth-child(1) {
    flex-basis: 7.4%;
    width: 45px;
    height: 35px;
}

@media screen and (max-width: 1024px) {
    .otppopup .loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .loan-form-heading-parent>.cmp-container .image:nth-child(1) {
        flex-basis: 13.2%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .otppopup .loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .loan-form-heading-parent>.cmp-container .image:nth-child(1) {
        flex-basis: 6.5%;
    }
}

.otppopup .loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .loan-form-heading-parent>.cmp-container .image:nth-child(1) .cmp-image__image {
    width: 100%;
    height: 100%;
}

.otppopup .loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .loan-form-heading-parent>.cmp-container .image:nth-child(3) {
    width: 20px;
    height: 20px;
    cursor: pointer;
    flex-basis: 3.5%;
}

@media screen and (max-width: 1024px) {
    .otppopup .loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .loan-form-heading-parent>.cmp-container .image:nth-child(3) {
        flex-basis: 3%;
    }
}

@media screen and (max-width: 767px) {
    .otppopup .loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .loan-form-heading-parent>.cmp-container .image:nth-child(3) {
        flex-basis: 8%;
    }
}

.otppopup .loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .loan-form-heading-parent>.cmp-container .image:nth-child(3) .cmp-image__image {
    width: 100%;
    height: 100%;
}

.otppopup .loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .loan-form-heading-parent>.cmp-container .text {
    flex-basis: 89.1%;
}

@media screen and (max-width: 1024px) {
    .otppopup .loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .loan-form-heading-parent>.cmp-container .text {
        flex-basis: 90%;
    }
}

@media screen and (max-width: 767px) {
    .otppopup .loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .loan-form-heading-parent>.cmp-container .text {
        flex-basis: 88%;
    }
}

.otppopup .loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .loan-form-heading-parent>.cmp-container .text p {
    font-family: "Nunito-Bold", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: var(--darkcharcoal);
}

.otppopup .loan-form-sub-parent>.cmp-container .loan-form {
    height: 100%;
    overflow-y: unset;
}

.otppopup .loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .loan-form-heading-parent .cmp-container .crossimage {
    display: none;
}

.otppopup .loan-form-sub-parent>.cmp-container .loan-form>.cmp-container>.container {
    display: none;
}

.otppopup .loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .cmp-form-checkbox {
    display: none;
}

.otppopup .loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .loan-form-otp {
    display: block;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.otppopup .loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .loan-form-otp .loan-form-otp-parent .leftarrow {
    cursor: pointer;
    height: 20px;
    width: 20px;
}

@media screen and (max-width: 1024px) {
    .otppopup .loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .loan-form-otp .loan-form-otp-parent .leftarrow {
        height: 16px;
        width: 16px;
    }
}

.otppopup .loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .loan-form-otp .loan-form-otp-parent .otphead {
    margin-top: 12px;
    font-family: "Nunito-Bold", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #000000de;
}

.otppopup .loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .loan-form-otp .loan-form-otp-parent .otpsubheadcontainer {
    display: flex;
    align-items: flex-start;
    margin-top: 8px;
}

@media screen and (max-width: 1024px) {
    .otppopup .loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .loan-form-otp .loan-form-otp-parent .otpsubheadcontainer {
        justify-content: space-between;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .otppopup .loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .loan-form-otp .loan-form-otp-parent .otpsubheadcontainer {
        justify-content: unset;
        gap: 8px;
    }
}

.otppopup .loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .loan-form-otp .loan-form-otp-parent .otpsubheadcontainer .otpsubhead {
    font-family: "Nunito-Regular", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--darkgrey);
}

@media screen and (max-width: 1024px) {
    .otppopup .loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .loan-form-otp .loan-form-otp-parent .otpsubheadcontainer .otpsubhead {
        font-size: 14px;
        line-height: 20px;
    }
}

.otppopup .loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .loan-form-otp .loan-form-otp-parent .otpsubheadcontainer .otpsubhead .otp-phone-num {
    font-family: "Nunito-Regular", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--darkgrey);
}

@media screen and (max-width: 1024px) {
    .otppopup .loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .loan-form-otp .loan-form-otp-parent .otpsubheadcontainer .otpsubhead .otp-phone-num {
        display: block;
        font-size: 14px;
        line-height: 20px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .otppopup .loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .loan-form-otp .loan-form-otp-parent .otpsubheadcontainer .otpsubhead .otp-phone-num {
        display: unset;
    }
}

.otppopup .loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .loan-form-otp .loan-form-otp-parent .otpsubheadcontainer .otp-change-num {
    margin-left: 8px;
    cursor: pointer;
    font-family: "Nunito-Regular", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--darkcharcoal);
    text-decoration: underline;
}

@media screen and (max-width: 1024px) {
    .otppopup .loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .loan-form-otp .loan-form-otp-parent .otpsubheadcontainer .otp-change-num {
        margin-left: unset;
    }
}

.otppopup .loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .loan-form-otp .loan-form-otp-parent .otpsubsubhead {
    margin-top: 24px;
    font-family: "Nunito-Bold", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: var(--greyishblue);
}

.otppopup .loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .loan-form-otp .loan-form-otp-parent .inputotp {
    position: relative;
    padding-top: 8px;
    display: flex;
    justify-content: space-between;
}

.otppopup .loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .loan-form-otp .loan-form-otp-parent .inputotp::before {
    border-bottom: 1px solid #0000006b;
    left: 0px;
    bottom: 0px;
    content: " ";
    position: absolute;
    right: 0px;
    transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    pointer-events: none;
}

.otppopup .loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .loan-form-otp .loan-form-otp-parent .inputotp:hover::before {
    border-bottom: 2px solid #000000de;
}

.otppopup .loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .loan-form-otp .loan-form-otp-parent .inputotp::after {
    border-bottom: 2px solid var(--midnight);
    left: 0px;
    bottom: 0px;
    content: "";
    position: absolute;
    right: 0px;
    transform: scaleX(0);
    transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    pointer-events: none;
}

.otppopup .loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .loan-form-otp .loan-form-otp-parent .inputotp:focus-within::before {
    border-bottom-color: var(--midnight);
    /* Change to desired color */
}

.otppopup .loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .loan-form-otp .loan-form-otp-parent .inputotp:focus-within::after {
    transform: scaleX(1);
}

.otppopup .loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .loan-form-otp .loan-form-otp-parent .inputotp input {
    font-family: "Nunito-Regular", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #000000DE;
    padding: 4px 0px 5px;
    border: 0px;
    box-sizing: content-box;
    background: none;
    height: 23px;
    margin: 0px;
    -webkit-tap-highlight-color: transparent;
    display: block;
    width: 100%;
    z-index: 1;
}

.otppopup .loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .loan-form-otp .loan-form-otp-parent .inputotp #otp-digits {
    font-family: "Nunito-Regular", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: var(--midnight);
    position: absolute;
    right: 0;
}

.otppopup .loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .loan-form-otp .loan-form-otp-parent .wrongotpmessage {
    display: none;
    padding-top: 4px;
    font-family: "Nunito-Regular", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: var(--coralred);
}

.otppopup .loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .loan-form-otp .loan-form-otp-parent .resendtext {
    margin-top: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.otppopup .loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .loan-form-otp .loan-form-otp-parent .resendtext p {
    font-family: "Nunito-Regular", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: var(--darkgrey);
}

.otppopup .loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .loan-form-otp .loan-form-otp-parent .resendtext button {
    font-family: "Nunito-Regular", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: var(--darkgrey);
    background: transparent;
    border: 0px;
    cursor: pointer;
}

.otppopup .loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .loan-form-otp .loan-form-otp-parent .resendtext span {
    font-family: "Nunito-Regular", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: var(--darkgrey);
}

.otppopup .loan-form-sub-parent>.cmp-container>.loan-form-button-container {
    padding: 0px 32px 32px;
    background: var(--white);
}

@media screen and (max-width: 1024px) {
    .otppopup .loan-form-sub-parent>.cmp-container>.loan-form-button-container {
        padding: 0px 16px 0px;
    }
}

.otppopup .loan-form-sub-parent>.cmp-container>.loan-form-button-container .cmp-container {
    pointer-events: none;
    cursor: pointer;
    border: none;
    width: 100%;
    height: 48px;
    margin-top: 48px;
    background: var(--coral);
    border-radius: 8px;
    font-family: "Nunito-Bold", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 20px;
    margin-top: 16px;
}

@media screen and (max-width: 1024px) {
    .otppopup .loan-form-sub-parent>.cmp-container>.loan-form-button-container .cmp-container {
        margin-top: 12px;
        margin-bottom: 12px;
    }
}

.otppopup .loan-form-sub-parent>.cmp-container>.loan-form-button-container .cmp-container .btn-text {
    font-family: "Nunito-Bold", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: var(--white);
}

.otppopup .loan-form-sub-parent>.cmp-container>.loan-form-button-container .cmp-container .loader {
    display: none;
    width: 75px;
    aspect-ratio: 6;
    --_g: no-repeat radial-gradient(circle closest-side, #fff 90%, #0000);
    background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
    background-size: calc(100%/3) 100%;
    animation: l7 1s infinite linear;
}

@media screen and (max-width: 1024px) {
    .otppopup .loan-form-sub-parent>.cmp-container>.loan-form-button-container .cmp-container .loader {
        width: 38px;
        aspect-ratio: 6;
    }
}

.otppopup .loan-form-sub-parent>.cmp-container>.loan-form-button-container .cmp-container.loan-form-button-active {
    pointer-events: unset;
    cursor: pointer;
    background-color: var(--orange);
}

.otppopup .loan-form-sub-parent>.cmp-container>.loan-form-button-container.loader-initialized .cmp-container .btn-text {
    display: none;
}

.otppopup .loan-form-sub-parent>.cmp-container>.loan-form-button-container.loader-initialized .cmp-container .loader {
    display: block;
}

.otppopup .loan-form-sub-parent>.cmp-container>.loan-form-button-container.btn-active .cmp-container,
.otppopup .loan-form-sub-parent>.cmp-container .loan-form-otp-button-container.btn-active .cmp-container {
    background: var(--orange);
}

@keyframes expanding {
    0% {
        width: 0px;
        border: 0px solid rgba(0, 0, 0, 0.54);
    }

    50% {
        width: 45px;
        border: 20px solid rgba(25, 118, 210, 0.04);
    }

    100% {
        width: 45px;
        border: 20px solid rgba(25, 118, 210, 0.04);
    }
}

@keyframes expanding2 {
    0% {
        width: 0px;
        border: 0px solid rgba(0, 0, 0, 0.54);
    }

    50% {
        width: 45px;
        border: 20px solid rgba(25, 118, 210, 0.04);
    }

    100% {
        width: 45px;
        border: 20px solid rgba(25, 118, 210, 0.04);
    }
}

@keyframes l7 {
    33% {
        background-size: calc(100%/3) 0%, calc(100%/3) 100%, calc(100%/3) 100%;
    }

    50% {
        background-size: calc(100%/3) 100%, calc(100%/3) 0%, calc(100%/3) 100%;
    }

    66% {
        background-size: calc(100%/3) 100%, calc(100%/3) 100%, calc(100%/3) 0%;
    }
}

.successContainer,
.failedContainer {
    display: none;
    text-align: center;
    position: relative;
    padding-bottom: 24px;
}

.successContainer .closeImg,
.failedContainer .closeImg {
    position: absolute;
    right: 0;
    top: 0;
}

.successContainer .imageContainer,
.failedContainer .imageContainer {
    padding-top: 84px;
}

.successContainer .imageContainer img,
.failedContainer .imageContainer img {
    width: 153px;
    height: 145px;
}

.successContainer .textContainer .namasteText,
.failedContainer .textContainer .namasteText,
.successContainer .textContainer p,
.failedContainer .textContainer p {
    font-family: "Nunito-Bold", sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin-top: 16px;
}

.successContainer .textContainer .whatsappNumberContainer,
.failedContainer .textContainer .whatsappNumberContainer {
    margin-top: 8px;
}

.successContainer .textContainer .whatsappNumberContainer .labelText,
.failedContainer .textContainer .whatsappNumberContainer .labelText,
.successContainer .textContainer .whatsappNumberContainer p,
.failedContainer .textContainer .whatsappNumberContainer p,
.successContainer .textContainer .whatsappNumberContainer .mobileNumber,
.failedContainer .textContainer .whatsappNumberContainer .mobileNumber {
    font-family: "Nunito-Regular", sans-serif;
    color: var(--gradient-gray);
    font-size: 14px;
    line-height: 20px;
    margin-top: unset;
}

.failedContainer .textContainer .namasteText p {
    margin-top: unset;
}

.failedContainer .textContainer .namasteText .boldtext {
    font-family: "Nunito-Bold", sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin-top: 32px;
    text-align: center;
    display: block;
}

.failedContainer .textContainer .namasteText .greyboldtext {
    margin-top: 8px;
    color: var(--gradient-gray);
    line-height: 20px;
    font-size: 14px;
    font-family: "Nunito-Regular", sans-serif;
    font-weight: 400;
}

.pageloader {
    display: block;
    width: 100%;
    height: 100%;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pageloader .loaderImage {
    width: 50px;
    height: 50px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.pageloader .spinnerParent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pageloader .spinnerParent .spinner.xl {
    border: 3px solid var(--greyishblue);
    border-left-color: transparent;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    animation: spin 1.5s linear infinite;
}

.pageloader .pageLoaderText {
    left: 50%;
    position: absolute;
    top: 77%;
    transform: translate(-50%, -70%);
    font-family: "Nunito-Bold", sans-serif;
    font-size: 16px;
    line-height: 24px;
    width: 245px;
    text-align: center;
    line-height: 24px;
}

@media screen and (max-width: 1024px) {
    .pageloader .pageLoaderText {
        top: 66%;
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn);
    }
}

.mudra-loader .spinner:after,
.mudra-loader .spinner:before {
    content: "";
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: var(--greyishblue);
    position: absolute;
    left: 10.1%;
}

.mudra-loader .spinner:before {
    top: 10.1%;
}

.mudra-loader .spinner:after {
    bottom: 10.1%;
}

.failureTryAgain {
    background-color: var(--orange);
    color: var(--white);
    border: unset;
    padding: 12px 24px;
    font-size: 16px;
    line-height: 24px;
    height: 48px;
    width: 100%;
    border-radius: 8px;
    font-family: "Nunito-Bold", sans-serif;
    margin-top: 50px;
}

.loader-disppear {
    animation: vanish 1s forwards;
}

@keyframes vanish {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}