.moredetailsaddress.block .address-wrapper{
    position: relative;
    padding: 76px 0 34px;
}

.moredetailsaddress.block .address-wrapper .address-title h1{
    font-family: "Nunito-Bold";
    font-size: 2rem;
    line-height: 40px;
    margin-bottom: 15px;
    color: var(--darkcharcoal);
}

.moredetailsaddress.block .address-wrapper .address-desktop p {
    font-size: 1rem;
    line-height: 24px;
    font-family: "Nunito-Regular";
    color: var(--darkgrey);
}

.moredetailsaddress.block .address-wrapper .address-mobile p {
    display: none;
}

.moredetailsaddress.block .address-wrapper .address-timing p,
.moredetailsaddress.block .address-wrapper .address-info ul li,
.moredetailsaddress.block .address-wrapper .address-mobile p {
    font-family: "Nunito-Regular";
    font-size: 0.875rem;
    line-height: 20px;
    color: var(--darkgrey);
}

.moredetailsaddress.block .address-wrapper .address-timing p {
    margin: 13px 0 25px;
}

.moredetailsaddress.block .address-wrapper .address-info ul{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.moredetailsaddress.block .address-wrapper .address-info ul li {
    padding: 0 22px;
    border-right: 1px solid var(--dustygrey);
}

.moredetailsaddress.block .address-wrapper .address-info ul li:first-child {
    padding-left: unset;
}

.moredetailsaddress.block .address-wrapper .address-info ul li:last-child {
    border-right: unset;
}

.moredetailsaddress.block .address-wrapper .address-info ul li span.icon img,
.moredetailsaddress.block .address-wrapper .address-info ul li span.icon {
    width: 18px;
    height: 18px;
    vertical-align: top;
    margin-right: 10px;
}

.moredetailsaddress.block .address-wrapper .address-img {
    position: absolute;
    top: 30%;
    right: 0;
    z-index: 1;
}

.moredetailsaddress.block .address-wrapper .address-img img {
    width: 164px;
    height: 164px;
}

@media screen and (max-width:767px) {
    .moredetailsaddress.block .address-wrapper {
        padding: 55px 0 25px;
    }

    .moredetailsaddress.block .address-wrapper .address-title h1 {
        font-size: 1.75rem;
        line-height: 36px;
    }

    .moredetailsaddress.block .address-wrapper .address-desktop p {
        display: none;
    }

    .moredetailsaddress.block .address-wrapper .address-mobile p {
        display: block;
    }

    .moredetailsaddress.block .address-wrapper .address-info ul {
        row-gap: 10px;
    }

    .moredetailsaddress.block .address-wrapper .address-info ul li {
        margin-right: 10px;
        padding: 0;
        border-right: unset;
    }

    .moredetailsaddress.block .address-wrapper .address-info ul li span.icon img, 
    .moredetailsaddress.block .address-wrapper .address-info ul li span.icon {
        width: 14px;
        margin-right: 6px;
    }

    .moredetailsaddress.block .address-wrapper .address-img img {
        width: 47px;
        height: 47px;
    }

    .moredetailsaddress.block .address-wrapper .address-img {
        top: 18%;
    }
}

@media screen and (min-width:768px) and (max-width:1024px) {
    .moredetailsaddress.block .address-wrapper {
        padding: 60px 0 34px;
    }

    .moredetailsaddress.block .address-wrapper .address-img img {
        width: 120px;
        height: 120px;
    }

    .moredetailsaddress.block .address-wrapper .address-img {
        top: 15%;
    }
}