header.header-wrapper>div.block>div.nav-wrapper:has(.neeyat-header) {
    height: 96px;
}

header.header-wrapper>div.block>div.nav-wrapper>nav#nav>div.neeyat-header {
    display: flex;
    flex: 0 0 100%;
    align-items: center;
    justify-content: space-between;
}

header.header-wrapper>div.block>div.nav-wrapper>nav#nav>div.neeyat-header>div.imgwithlink-wrapper .imgwithlink .image-href-desktop .anchor-event-link>picture>img {
    width: 108px;
    height: 88px;
}

.header-wrapper .header .nav-wrapper nav#nav .neeyat-header .select-tag-wrapper .select-tag .maindiv-lang-switch{
    position: relative;
}

.header-wrapper .header .nav-wrapper nav#nav .neeyat-header .select-tag-wrapper .select-tag .maindiv-lang-switch .inner-lang-switch{
    cursor: pointer;
    border-radius: 5px;
    width: fit-content;
    position: relative;
    padding-left: 10px;
    padding-right: 32px;
    border: 1px solid var(--zinc);
}

.header-wrapper .header .nav-wrapper nav#nav .neeyat-header .select-tag-wrapper .select-tag .maindiv-lang-switch .inner-lang-switch::after{
    top: 10px;
    right: 10px;
    content: '';
    position: absolute;
    border: solid var(--black);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    border-radius: 0 0 2px 0;
}

.header-wrapper .header .nav-wrapper nav#nav .neeyat-header .select-tag-wrapper .select-tag .maindiv-lang-switch .inner-lang-switch p{
    font-size: 1rem;
    font-weight: 600;
    line-height: 32px;
    color: var(--black);
    font-family: "Nunito-Semibold";
}

.header-wrapper .header .nav-wrapper nav#nav .neeyat-header .select-tag-wrapper .select-tag .maindiv-lang-switch ul{
    top: 35px;
    left: 10px;
    width: 162px;
    position: absolute;
    border-radius: 4px;
    background-color: var(--white);
    border: 1px solid rgba(0, 0, 0, .15);
}

.header-wrapper .header .nav-wrapper nav#nav .neeyat-header .select-tag-wrapper .select-tag .maindiv-lang-switch ul li{
    font-size: 1rem;
    font-weight: 500;
    padding: 5px 8px;
    line-height: 21px;
    color: #212529;
    white-space: nowrap;
    font-family: "Nunito-Medium";
}

.header-wrapper .header .nav-wrapper nav#nav .neeyat-header .select-tag-wrapper .select-tag .maindiv-lang-switch ul li.active{
    color: var(--black);
    cursor: not-allowed;
    background-color: #ffcfc0;
}

.header-wrapper .header .nav-wrapper nav#nav .neeyat-header .select-tag-wrapper .select-tag .maindiv-lang-switch ul li.active:hover{
    cursor: pointer;
    background-color: #ffcfc0;
}

.header-wrapper .header .nav-wrapper nav#nav .neeyat-header .select-tag-wrapper .select-tag .maindiv-lang-switch ul li:hover{
    cursor: pointer;
    background-color: #e9ecef;
}

.header-wrapper .header .nav-wrapper nav#nav .neeyat-header .select-tag-wrapper .select-tag .maindiv-lang-switch ul li[data-disabled="true"]:hover{
    cursor: unset;
    background-color: unset;
}

.header-wrapper .header .nav-wrapper nav#nav .neeyat-header .select-tag-wrapper .select-tag .maindiv-lang-switch ul li[data-disabled="true"]{
    color: #adb5bd;
}

.header-wrapper .header .nav-wrapper nav#nav .neeyat-header .select-tag-wrapper .select-tag .maindiv-lang-switch ul li:active{
    background-color: #ffcfc0;
}


@media screen and (max-width: 1024px) {
    header.header-wrapper>div.block>div.nav-wrapper>nav#nav>div.neeyat-header>div.imgwithlink-wrapper .imgwithlink .image-href-desktop .anchor-event-link>picture>img {
        height: 44px;
    }

    header.header-wrapper>div.block>div.nav-wrapper:has(.neeyat-header) .nav-hamburger {
        display: none;
    }
}

@media screen and (max-width: 678px) {
    header.header-wrapper>div.block>div.nav-wrapper:has(.neeyat-header) {
        height: 71px;
    }
}