body:has(.header-wrapper .header-neeyat-nav) {
    padding-top: 97px !important;
}

.nav-wrapper>nav .nav-hamburger {
    display: none;
}

.header-neeyat-nav .nav-wrapper #nav {
    display: flex;
    justify-content: space-between;
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
    gap: 0;
    padding: 0;
}

.header-neeyat-nav .nav-wrapper {
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 7%), 0 1px 2px 0 rgb(0 0 0 / 5%);
    height: 96px;
    background-color: var(--piramal-white-100);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 12;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 100%;
}

.header-neeyat-nav>div.nav-wrapper>nav#nav>div.neeyat-header {
    display: flex;
    flex: 0 0 100%;
    align-items: center;
    justify-content: space-between;
}

.header-neeyat-nav>.nav-wrapper>nav#nav>div.neeyat-header>a>picture>img {
    width: 108px;
    height: 44px;
}

.header-neeyat-nav .nav-wrapper nav#nav .neeyat-header .select-tag-wrapper .select-tag .maindiv-lang-switch{
    position: relative;
}

.header-neeyat-nav .nav-wrapper nav#nav .neeyat-header .select-tag-wrapper .select-tag .maindiv-lang-switch .inner-lang-switch{
    cursor: pointer;
    border-radius: 5px;
    width: fit-content;
    position: relative;
    padding-left: 10px;
    padding-right: 32px;
    border: 1px solid var(--zinc);
    display: block;
}

.header-neeyat-nav .nav-wrapper nav#nav .neeyat-header .select-tag-wrapper .select-tag .maindiv-lang-switch .inner-lang-switch::after{
    top: 10px;
    right: 10px;
    content: '';
    position: absolute;
    border: solid var(--black);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    border-radius: 0 0 2px 0;
}

.header-neeyat-nav .nav-wrapper nav#nav .neeyat-header .select-tag-wrapper .select-tag .maindiv-lang-switch .inner-lang-switch p{
    font-size: 1rem;
    font-weight: 600;
    line-height: 32px;
    color: var(--black);
    font-family: "Nunito-Semibold";
}

.header-neeyat-nav .nav-wrapper nav#nav .neeyat-header .select-tag-wrapper .select-tag .maindiv-lang-switch ul{
    top: 35px;
    left: 10px;
    width: 162px;
    position: absolute;
    border-radius: 4px;
    background-color: var(--white);
    border: 1px solid rgba(0, 0, 0, .15);
}

.header-neeyat-nav .nav-wrapper nav#nav .neeyat-header .select-tag-wrapper .select-tag .maindiv-lang-switch ul li{
    font-size: 1rem;
    font-weight: 500;
    padding: 5px 8px;
    line-height: 21px;
    color: #212529;
    white-space: nowrap;
    font-family: "Nunito-Medium";
}

.header-neeyat-nav .nav-wrapper nav#nav .neeyat-header .select-tag-wrapper .select-tag .maindiv-lang-switch ul li.active{
    color: var(--black);
    cursor: not-allowed;
    background-color: #ffcfc0;
}

.header-neeyat-nav .nav-wrapper nav#nav .neeyat-header .select-tag-wrapper .select-tag .maindiv-lang-switch ul li.active:hover{
    cursor: pointer;
    background-color: #ffcfc0;
}

.header-neeyat-nav .nav-wrapper nav#nav .neeyat-header .select-tag-wrapper .select-tag .maindiv-lang-switch ul li:hover{
    cursor: pointer;
    background-color: #e9ecef;
}

.header-neeyat-nav .nav-wrapper nav#nav .neeyat-header .select-tag-wrapper .select-tag .maindiv-lang-switch ul li[data-disabled="true"]:hover{
    cursor: unset;
    background-color: unset;
}

.header-neeyat-nav .nav-wrapper nav#nav .neeyat-header .select-tag-wrapper .select-tag .maindiv-lang-switch ul li[data-disabled="true"]{
    color: #adb5bd;
}

.header-neeyat-nav .nav-wrapper nav#nav .neeyat-header .select-tag-wrapper .select-tag .maindiv-lang-switch ul li:active{
    background-color: #ffcfc0;
}


@media screen and (max-width:1024px) {
    body:has(.header-wrapper .header-neeyat-nav) {
        padding-top: 71px !important;
    }

    .header-neeyat-nav>div.nav-wrapper>nav#nav>div.neeyat-header {
        padding: 0 16px;
        /* height: 71px; */
    }

    .header-neeyat-nav>.nav-wrapper>nav#nav>div.neeyat-header>a>picture>img {
        width: 96px;
        height: 44px;
    }

    .header-neeyat-nav nav#nav .nav-hamburger {
        display: none;
    }

    header .nav-wrapper #nav>div.section.nav-brand>a:nth-child(2) {
        display: block;
    }

    .header-neeyat-nav .nav-wrapper nav#nav .neeyat-header .select-tag-wrapper .select-tag .maindiv-lang-switch ul {
        left: unset;
        right: 0;
    }
}

@media screen and (max-width:991px) {
    .header-neeyat-nav .nav-wrapper {
        height: 71px;
    } 
}

@media screen and (min-width: 1025px) and (max-width: 1300px){
    .header-neeyat-nav .nav-wrapper #nav{
      max-width: 90.25%;
    }

    .header-neeyat-nav .nav-wrapper nav#nav .neeyat-header .select-tag-wrapper .select-tag .maindiv-lang-switch ul {
        left: unset;
        right: 0;
    }
}