.section.whatsapp-service-wrapper {
    padding: 70px 0;
}

.section.whatsapp-service-wrapper .default-content-wrapper {
    padding-bottom: 24px;
}

.section.whatsapp-service-wrapper .default-content-wrapper h2 {
    color: var(--black);
    display: block;
    font-family: 'Nunito-Extrabold',sans-serif;
    font-size: 2rem;
    line-height: 40px;
    padding-bottom: 8px;
}

.section.whatsapp-service-wrapper .default-content-wrapper p {
    color: var(--gradient-gray);
    display: block;
    font-family: 'Nunito-Regular',sans-serif;
    font-size: 1.25rem;
    line-height: 28px;
    padding-bottom: 8px;
}

.section.whatsapp-service-wrapper .cards-wrapper .cards.block>ul{
   grid-template-columns: 1fr 1fr 1fr;
   align-items: center;
   text-align: center;
   grid-gap: 80px;
}

.section.whatsapp-service-wrapper .cards-wrapper .cards.block>ul>li {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    background-color: var(--white);
    border: 1px solid var(--coral);
    border-radius: 9pt;
    height: 100%;
    max-width: 359px;
    width: 100%;
    min-height: 312px;
    padding-bottom: 40px;
    position: relative;
}

.section.whatsapp-service-wrapper .cards-wrapper .cards.block>ul>li .cards-card-image img{
    height: 120px;
    width: 120px;
}

.section.whatsapp-service-wrapper .cards-wrapper .cards.block>ul>li .cards-card-body {
    margin: 24px 16px 0;
}

.section.whatsapp-service-wrapper .cards-wrapper .cards.block>ul>li .cards-card-body>p,
.section.whatsapp-service-wrapper .cards-wrapper .cards.block>ul>li .cards-card-body>ul>li {
    font-family: 'Nunito-Regular',sans-serif;
    font-size: 1rem;
    line-height: 24px;
}

.section.whatsapp-service-wrapper .cards-wrapper .cards.block>ul>li .cards-card-body>p>strong {
    font-family: 'Nunito-Bold',sans-serif;
    display: inline-block;
    margin-top: 8px;
}

.section.whatsapp-service-wrapper .cards-wrapper .cards.block>ul>li .cards-card-body>.button-container>a {
    margin: 8px 0 0;
    background-color: transparent;
    color: var(--orange);
    text-decoration: underline;
    font-family: 'Nunito-Bold', sans-serif;
    font-weight: 700;
    padding: unset;
    border: unset;
    overflow: unset;
}

.section.whatsapp-service-wrapper .cards-wrapper .cards.block>ul>li .cards-card-body>ul>li {
    margin-bottom: 12px;
}

.section.whatsapp-service-wrapper .cards-wrapper .cards.block>ul>li .cards-card-body>ul {
    list-style: disc;
    margin-left: 16px;
    text-align: start;
}

.section.whatsapp-service-wrapper .cards-wrapper .cards.block>ul>li::after {
    content: 'or';
    position: absolute;
    top: 50%;
    right: -50px;
    font-size: 1rem;
    color: var(--black);
    font-family: "Nunito-Regular";
    font-weight: 400;
    line-height: 24px;
}

.section.whatsapp-service-wrapper .cards-wrapper .cards.block>ul>li:last-child::after {
    content: none;
}

@media screen and (max-width:1024px) {
    .section.whatsapp-service-wrapper .cards-wrapper .cards.block>ul>li:first-child {
        display: none
    } 

    .section.whatsapp-service-wrapper .cards-wrapper .cards.block>ul>li .cards-card-image img {
        height: 100px;
        width: 100px;
    }
}

@media screen and (max-width:767px) {
    .section.whatsapp-service-wrapper .default-content-wrapper h2 {
        font-size: 1.25rem;
        line-height: 28px;
        padding-bottom: 4px;
    }

    .section.whatsapp-service-wrapper .default-content-wrapper p {
        font-size: 0.875rem;
        line-height: 20px;
        padding-bottom: 4px;
    }

    .section.whatsapp-service-wrapper .default-content-wrapper {
        padding-bottom: 20px;
    }

    .section.whatsapp-service-wrapper {
        padding: 40px 0;
    }

    .section.whatsapp-service-wrapper .cards-wrapper .cards.block>ul {
        grid-template-columns: 1fr;
        grid-gap: 90px;
    }

    .section.whatsapp-service-wrapper .cards-wrapper .cards.block>ul>li::after {
        bottom: -60px;
        right: 50%;
        top: auto;
    }

    .section.whatsapp-service-wrapper .cards-wrapper .cards.block>ul>li {
        margin: 0 auto;
    }

    .section.whatsapp-service-wrapper .cards-wrapper .cards.block>ul>li .cards-card-body>p {
        color: var(--darkcharcoal);
    }
}

@media screen and (min-width:768px) and (max-width:1024px) {
    .section.whatsapp-service-wrapper .cards-wrapper .cards.block>ul {
        grid-template-columns: 1fr 1fr;
        grid-gap: 70px;
    }

    .section.whatsapp-service-wrapper .cards-wrapper .cards.block>ul>li::after {
        right: -45px;
    }
}