dialog[open]:has(.modal-content .section.support-contact-us-popup.risk-gradation-popup){
    max-height: calc(100% - 100px);
    border-radius: 16px; 
}

dialog[open]:has(.modal-content .section.support-contact-us-popup.risk-gradation-popup) .modal-content {
    padding: 20px 100px 0px 85px;
}

.section.support-contact-us-popup.risk-gradation-popup .default-content-wrapper h3 {
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: .5rem;
    font-family: 'Nunito-Extrabold', sans-serif;
    font-weight: 800;
    color: #000;
}

.section.support-contact-us-popup.risk-gradation-popup .default-content-wrapper > p {
    font-size: 1.125rem;
    line-height: 1.5rem;
    font-family: 'Nunito-Regular', sans-serif;
    font-weight: 400;
}

.section.support-contact-us-popup.risk-gradation-popup .default-content-wrapper ul {
    margin-top: 1rem;
    margin-left: 1.5rem;
    padding: unset;
    border: unset;
    border-radius: unset;
    list-style-type: disc;
}

.section.support-contact-us-popup.risk-gradation-popup .default-content-wrapper ul> li {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-family: 'Nunito-Regular', sans-serif;
    font-weight: 400;
    color: #000;
    margin: 0;
}

dialog[open]:has(.modal-content .section.support-contact-us-popup.risk-gradation-popup) .close-button {
    display: block;
    padding-right: 30px;
    color: rgba(0, 0, 0, 0.87);
}

@media screen and (max-width:767px) {
    dialog[open]:has(.modal-content .section.support-contact-us-popup.risk-gradation-popup){
        padding-top: 45px; 
        padding-bottom: 20px;
        max-height: unset;
        margin-top: 52px;
        max-height: calc(100% - 40px);
        border-radius: 12px;
    }

    .section.support-contact-us-popup.risk-gradation-popup .default-content-wrapper h3 {
        font-size: 1.125rem;
        line-height: 1.5rem;
        margin-bottom: .5rem;
        margin-top: 5px;
    }

    .section.support-contact-us-popup.risk-gradation-popup .default-content-wrapper > p {
        font-size: 0.875rem;
        line-height: 1.25rem;
    }

    .section.support-contact-us-popup.risk-gradation-popup .default-content-wrapper ul {
        margin-top: 0;
        margin-left: 1.5rem;
        list-style-type: disc;
        overflow-y: unset;
        height: unset;
    }

    .section.support-contact-us-popup.risk-gradation-popup .default-content-wrapper ul> li {
        font-size: 0.875rem;
        line-height: 1.5rem;
        margin: 0;
    }

    dialog[open]:has(.modal-content .section.support-contact-us-popup.risk-gradation-popup) .close-button {
        padding-right: 45px;
        padding-top: 25px;
    }
}

@media screen and (max-width:1024px) {
    dialog[open]:has(.modal-content .section.support-contact-us-popup.risk-gradation-popup) .modal-content {
        padding: 0;
        overflow-y: unset;
    }

    dialog[open]:has(.modal-content .section.support-contact-us-popup.risk-gradation-popup) .close-button {
        display: block;
    }

    .section.support-contact-us-popup.risk-gradation-popup .default-content-wrapper::before {
        width: 30px;
        height: 6px;
        background-color: rgb(196, 196, 196);
    }
}

@media screen and (min-width:768px) and  (max-width:1024px) {
.section.support-contact-us-popup.risk-gradation-popup .default-content-wrapper h3 {
    margin-top: 25px;
}
}