.section.steps-for-apply .default-content-wrapper >h2{
    color: var(--black);
    display: block;
    font-family: 'Nunito-Extrabold', sans-serif;
    font-size: 2rem;
    font-weight: 800;
    line-height: 48px;
    margin-bottom: 16px;
}
.section.steps-for-apply .default-content-wrapper >p,
.section.steps-for-apply .default-content-wrapper >h5,
.section.steps-for-apply .default-content-wrapper >h4,
.section.steps-for-apply .default-content-wrapper >h4>a{
    color: var(--black);
    /* display: block; */
    font-family: 'Nunito-Regular', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 16px;
}
.section.steps-for-apply .default-content-wrapper >p >strong{
    margin-bottom: 8px;
    display: inline-block;
    color: var(--orange);
    font-family: 'Nunito-Bold', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    line-height: 24px;
    min-width: 53px;
}
.section.steps-for-apply .default-content-wrapper >h5>strong,
.section.steps-for-apply .default-content-wrapper >h4>strong{
    font-style: normal;
    color: var(--black);
    font-family: 'Nunito-Bold',sans-serif;
    font-size: 1rem;
    font-weight: 700;
    line-height: 24px;
}

.section.steps-for-apply .default-content-wrapper >h4,
.section.steps-for-apply .default-content-wrapper >h4>strong,
.section.steps-for-apply .default-content-wrapper >h4>a {
    font-size: 1.125rem;
}

.section.steps-for-apply-black .default-content-wrapper >p >strong {
    color: var(--black)
}

.section.steps-for-apply .default-content-wrapper >h4>a,
.section.steps-for-apply .default-content-wrapper >h5>a {
    color: var(--orange);
    text-decoration: none;
}

.section.steps-for-apply.steps-for-apply-list-text .default-content-wrapper ul {
    margin-left: 24px;
}

.section.steps-for-apply.steps-for-apply-list-text .default-content-wrapper ul>li {
    color: var(--black);
    font-family: 'Nunito-Regular',sans-serif;
    font-size: 1.125rem;
    line-height: 28px;
    list-style-type: disc;
}

.section.steps-for-apply.steps-for-apply-list-text .default-content-wrapper ul>li>strong {
    font-family: 'Nunito-Bold',sans-serif;
    font-weight: 700;
}

.section.steps-for-apply.steps-for-apply-last-list-text .default-content-wrapper ul:last-child {
    margin-left: unset;
}

.section.steps-for-apply.steps-for-apply-last-list-text .default-content-wrapper ul:last-child>li {
    list-style-type: none;
}

.section.steps-for-apply.steps-for-apply-last-list-text .default-content-wrapper ul:last-child>li>strong {
    color: var(--orange);
}

.section.steps-for-apply-black.steps-gst-content-align .default-content-wrapper >p >strong {
    color: var(--orange);
}

.section.steps-for-apply-black.gst-steps-content-orange .default-content-wrapper h3 {
    color: var(--orange);
    font-family: "Nunito-Bold";
    font-size: 1.125rem;
    line-height: 24px;
    margin-bottom: 1rem;
}

.section.steps-for-apply.steps-for-apply-list-text.steps-add-bottom-space .default-content-wrapper ul>li {
    margin-bottom: 25px;
}

.section.steps-for-apply.steps-description-add-top-space .default-content-wrapper >h4,
.section.steps-for-apply.steps-description-add-top-space .default-content-wrapper >h5 {
    margin-top: 25px;
}

@media screen and (max-width: 767px) {
    .section.steps-for-apply .default-content-wrapper >h2{
        font-size: 1.125rem;
        line-height: 27px;
    }
    .section.steps-for-apply .default-content-wrapper >h4,
    .section.steps-for-apply .default-content-wrapper >h4>strong,
    .section.steps-for-apply .default-content-wrapper >h4>a {
        font-size: 0.875rem;
        line-height: 20px;
    }
    .section.steps-for-apply.steps-for-apply-black .default-content-wrapper >p {
        padding-left: unset;
    }
    .section.steps-for-apply.steps-for-apply-black .default-content-wrapper >p >strong {
        position: unset;
        display: block
    }
    
    .section.steps-for-apply.steps-for-apply-list-text .default-content-wrapper ul>li,
    .section.steps-for-apply.steps-for-apply-black.steps-gst-content-align .default-content-wrapper >p,
    .section.steps-for-apply.steps-for-apply-black.steps-gst-content-align .default-content-wrapper >p >strong {
        font-size: 0.875rem;
        line-height: 24px;
    }

    .section.steps-for-apply-black.gst-steps-content-orange .default-content-wrapper h3 {
        font-size: 0.875rem;
        line-height: 20px;
        margin-bottom: .5rem;
    }
}

@media screen and (max-width:1024px){
    .section.steps-for-apply .default-content-wrapper >p {
        position: relative;
        padding-left: 60px;
    }

    .section.steps-for-apply .default-content-wrapper >p >strong {
        margin-bottom: unset;
        position: absolute;
        left: 0;
    }
    .section.steps-for-apply.steps-for-apply-black.steps-gst-content-align .default-content-wrapper >p {
        padding-left: unset;
    }
    .section.steps-for-apply.steps-for-apply-black.steps-gst-content-align .default-content-wrapper >p >strong {
        position: unset;
        display: inline
    }
}