/* calculator start */
.section.multi-calculator-wrapper.teaser-container {
    padding: 0;
}

.section.multi-calculator-wrapper .teaser-wrapper .teaser .background {
    position: unset;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding-top: 58px;
    padding-bottom: 46px;
    min-height: 260px;
}

.section.multi-calculator-wrapper .teaser-wrapper .teaser .background .text .title h2,
.section.multi-calculator-wrapper .teaser-wrapper .teaser .background .text .title h1,
.section.multi-calculator-wrapper .teaser-wrapper .teaser .background .text .eyebrow {
    color: var(--black);
    display: inline-block;
    font-family: 'Nunito-Extrabold', sans-serif;
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 60px;
}

.section.multi-calculator-wrapper .teaser-wrapper .teaser .background .text .long-description p {
    color: #666;
    font-family: 'Nunito-Regular', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 32px;
    margin-top: 16px;
}

.section.multi-calculator-wrapper .teaser-wrapper .teaser .background .foreground {
    margin-bottom: 16px;
}

.section.multi-calculator-wrapper .teaser-wrapper .teaser .background .front-picture {
    max-width: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section.multi-calculator-wrapper .teaser-wrapper .teaser .background .front-picture picture>img {
    height: 124px;
    width: 124px;
}

@media screen and (max-width:1024px) {
    .section.multi-calculator-wrapper .teaser-wrapper .teaser .background .text .title h2,
    .section.multi-calculator-wrapper .teaser-wrapper .teaser .background .text .title h1,
    .section.multi-calculator-wrapper .teaser-wrapper .teaser .background .text .eyebrow {
        font-size: 1.5rem;
        line-height: 32px;
    }

    .section.multi-calculator-wrapper .teaser-wrapper .teaser .background .text .long-description p,
    .section.multi-calculator-wrapper .teaser-wrapper .teaser .background img,
    .section.multi-calculator-wrapper .teaser-wrapper .teaser .background .front-picture {
        display: none;
    }
    .section.multi-calculator-wrapper .teaser-wrapper .teaser .background {
        flex-direction: row;
        min-height: 168px;
    }
}

@media screen and (max-width: 767px) {
    .section.multi-calculator-wrapper .teaser-wrapper .teaser .background .text .long-description p {
        font-size: 0.875rem;
        line-height: 20px;
        margin-top: 8px;
    }
}

/* calculator end */


/* calculator teaser container start */
.section.multi-calc-teaser-wrapper.teaser-container  {
    padding: 0;
}

.section.multi-calc-teaser-wrapper .wrappercreation-wrapper .wrappercreation .wrapper-creation-container {
    column-gap: 24px;
    display: grid;
    grid-template-columns: minmax(0, 595px) minmax(0, 595px);
    row-gap: 24px;
}

.section.multi-calc-teaser-wrapper .teaser-wrapper .teaser {
    max-width: 595px;
    min-height: 202px;
}

.section.multi-calc-teaser-wrapper .teaser-wrapper .teaser .background {
    max-width: 595px;
    min-height: 192px;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100% 100%;
}

.section.multi-calc-teaser-wrapper .teaser-wrapper .teaser .background .foreground {
    padding: 40px 40px 40px 35px;
}

.section.multi-calc-teaser-wrapper .teaser-wrapper .teaser .background .foreground .text .long-description p {
    color: var(--white);
    display: block;
    font-family: Nunito-Extrabold, sans-serif;
    font-size: 1.25rem;
    font-weight: 800;
    line-height: 30px;
    padding-bottom: 24px;
}

.section.multi-calc-teaser-wrapper .teaser-wrapper .teaser .background .foreground .text .cta a {
    border: 1px solid var(--white);
    border-radius: 8px;
    color: var(--white);
    font-family: Nunito-Bold, sans-serif;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 21px;
    padding: 9px 16px;
    background-color: unset;
    margin: 0;
}

@media screen and (max-width: 767px) {
    .section.multi-calc-teaser-wrapper .teaser-wrapper .teaser .background {
        min-height: 105px;
    }

    .section.multi-calc-teaser-wrapper .teaser-wrapper .teaser {
        min-height: 105px;
    }

    .section.multi-calc-teaser-wrapper .wrappercreation-wrapper .wrappercreation .wrapper-creation-container {
        grid-template-columns: minmax(0, 595px);
    }

    .section.multi-calc-teaser-wrapper .teaser-wrapper .teaser .background .foreground {
        padding: 20px 10px 17px 16px;
    }

    .section.multi-calc-teaser-wrapper .teaser-wrapper .teaser .background .foreground .text .long-description p {
        font-size: 1rem;
        line-height: 24px;
        padding-bottom: 8px;
    }
}

/* calculator teaser container end */


/* home loan eligibility calculator start */
.section.home-loan-eligibility-calculator {
    padding: 0;
}

.section.home-loan-eligibility-calculator .teaser-wrapper .teaser .background {
    position: unset;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    height: 100%;
    margin-top: 75px;
    min-height: 200px;
    padding: 43px;
    width: 100%;
}

.section.home-loan-eligibility-calculator .teaser-wrapper .teaser .background .foreground .text .title h2 {
    color: var(--white);
    display: block;
    font-family: Nunito-Extrabold, sans-serif;
    font-size: 2rem;
    font-weight: 800;
    line-height: 32px;
    padding-bottom: 16px;
}

.section.home-loan-eligibility-calculator .teaser-wrapper .teaser .background .foreground .text .long-description p {
    color: var(--white);
    font-family: Nunito-Regular, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
}

@media screen and (max-width: 767px) {
    .section.home-loan-eligibility-calculator.breadcrumb-handle .breadcrumb-wrapper {
        position: unset;
    }
    .section.home-loan-eligibility-calculator .teaser-wrapper .teaser .background {
        margin-top: 32px;
        min-height: 112px;
        padding: 20px;
    }

    .section.home-loan-eligibility-calculator .teaser-wrapper .teaser .background .foreground .text .title h2 {
        font-size: 1rem;
        font-weight: 700;
        line-height: 24px;
        padding-bottom: 8px;
    }

    .section.home-loan-eligibility-calculator .teaser-wrapper .teaser .background .foreground .text .long-description p {
        font-size: 0.75rem;
        line-height: 16px;
    }
}

@media screen and (max-width: 768px) and (max-width: 1024px) {
    .section.home-loan-eligibility-calculator.teaser-container {
        padding: 0 16px;
    }
} 
