.section.financial-reports-carousel{
    padding-bottom: 35px;
    background-color: var(--rosewhite);
}
.section.financial-reports-carousel .default-content-wrapper > :where(h1,h2,h3,h4,h5,h6){
    margin: 0;
    color: #333;
    font-family: 'Nunito-Extrabold', sans-serif;
    font-size: 48px;
    font-weight: 800;
    line-height: 72px;
    padding-top: 69px;
}
.section.financial-reports-carousel .default-content-wrapper >p{
    padding-top: 16px;
    color: #365069;
    font-family: 'Nunito-Bold', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
}
@media screen and (max-width: 1024px) {
    .section.financial-reports-carousel .default-content-wrapper > :where(h1,h2,h3,h4,h5,h6){
        padding-top: 54px;
        font-size: 1.375rem;
        line-height: 34px;
    }
    .section.financial-reports-carousel .default-content-wrapper >p{
        padding-top: 6px;
        font-size: 0.75rem;
        line-height: 16px;
    }
    .section.financial-reports-carousel .tab-link-wrapper .tab-link.block{
        margin-top: unset;
    }
}