/* grievance redressal levels  Start */

.section.grievance-redressal-levels .columns-wrapper .columns {
    column-gap: 86px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    height: auto;
    row-gap: 1pc;
}

.section.grievance-redressal-levels .columns-wrapper .columns>div {
    margin-top: 40px;
    align-items: start;
}

.section.grievance-redressal-levels .columns-wrapper .columns>div>div {
    color: #000;
    font-family: Nunito-Regular, sans-serif;
    font-size: 1pc;
    font-weight: 400;
    line-height: 22px;
}

.section.grievance-redressal-levels .columns-wrapper .columns>div>div>h2 {
    color: #333;
    display: block;
    font-family: Nunito-Extrabold, sans-serif;
    font-size: 1.125rem;
    font-weight: 800;
    line-height: 27px;
    margin-top: 16px;
    min-height: 42px;
}

.section.grievance-redressal-levels .columns-wrapper .columns>div>div>h2:first-child {
    margin-top: unset;
}

.section.grievance-redressal-levels .columns-wrapper .columns>div>div>p {
    color: #000;
    font-family: Nunito-Regular, sans-serif;
    font-size: 1pc;
    font-weight: 400;
    line-height: 22px;
    margin-top: 1pc;
}

.section.grievance-redressal-levels .columns-wrapper .columns>div>div>p>a {
    color: #f26841;
    cursor: pointer;
    font-family: Nunito-Regular, sans-serif;
    font-size: 1pc;
    font-weight: 400;
    line-height: 22px;
}
.section.grievance-redressal-levels .columns-wrapper .columns>div>div>p>a sub{
    color: #f26841;
    cursor: pointer;
    font-family: Nunito-Regular, sans-serif;
} 
.section.grievance-redressal-levels .columns-wrapper .columns>div>div>p>a sub:hover,
.section.grievance-redressal-levels .columns-wrapper .columns>div>div>p>a:hover{
    text-decoration: none;
}
.section.grievance-redressal-levels .default-content-wrapper p {
    color: #000;
    font-family: Nunito-Regular, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 22px;
    margin-top: 16px;
}

.section.grievance-redressal-levels .default-content-wrapper p>a {
    color: #f26841;
    cursor: pointer;
    font-family: Nunito-Regular, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 22px;
}

.section.grievance-redressal-levels .default-content-wrapper p>a:hover {
    text-decoration: none;
}

.section.grievance-redressal-levels .default-content-wrapper p>strong {
    color: #000;
    font-family: Nunito-Extrabold, sans-serif;
    font-size: 1.125rem;
    font-weight: 800;
    line-height: 24px;
}

.section.grievance-redressal-levels .default-content-wrapper ul {
    list-style-type: disc;
    margin-left: 24px;
    margin-top: 16px;
}

.section.grievance-redressal-levels .default-content-wrapper>ul>li {
    color: #000;
    font-family: Nunito-Regular, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
}

.section.contact-orange h2,
.contact-orange h3 {
    color: var(--orange);
}

.section.grivience-text-review .default-content-wrapper p   {
    color: #000;
    font-family: Nunito-Regular, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 22px;
    margin-top: 16px;

}
.section.grivience-text-review .default-content-wrapper p strong{
    color: #000;
    font-family: Nunito-Regular, sans-serif;
    font-size: 1rem;
}
@media screen and (max-width:767px) {
    .section.grievance-redressal-levels .columns-wrapper .columns{
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}
/* grievance redressal levels  End */

/* stakeholder contact Start */
.section.stakeholder-contact .columns-wrapper .columns>div {
    margin: 0;
}
.section.stakeholder-contact .columns-wrapper .columns>div >div h2{
    color: var(--orange);
    font-family: 'Nunito-Extrabold', sans-serif;
    font-size: 20px;
    font-weight: 800;
    line-height: 30px;
}
.section.stakeholder-contact .columns-wrapper .columns>div >div p strong{
    display: block;
    color: #000;
    font-family: Nunito-Bold, sans-serif;
    font-size: 700;
    font-weight: 1pc;
    line-height: 22px;
    margin-top: 1pc;
}
.section.stakeholder-contact .columns-wrapper .columns>div >div p:nth-child(n+2) strong{
margin-top: -16px;
}
.section.stakeholder-contact .columns-wrapper .columns>div:first-child >div p{
    max-width: 69%;
}
.section.stakeholder-contact .columns-wrapper .columns>div>div>p{
    max-width: 77%;
}
.section.stakeholder-contact .columns-wrapper .columns>div:first-child >div p strong{
    width: 107%;
}
.section.stakeholder-contact .columns-wrapper .columns>div:nth-child(2)>div >p{
    max-width: 70%;
} 
@media  (min-width:1025px) and (max-width:1300px){
    .section.stakeholder-contact .columns-wrapper .columns>div:first-child >div p {
        max-width: 85%;
    }
    .section.stakeholder-contact .columns-wrapper .columns>div:nth-child(2)>div >p {
        max-width: 75%;
    }
    .section.stakeholder-contact .columns-wrapper .columns>div>div>p {
        max-width: 95%;
    }
}
@media screen and (max-width:767px) {
    .section.stakeholder-contact .columns-wrapper .columns>div>div>p,
    .section.stakeholder-contact .columns-wrapper .columns>div:first-child >div p{
        max-width: 96%;
    }
    .section.stakeholder-contact .columns-wrapper .columns>div >div p strong,
    .section.stakeholder-contact .columns-wrapper .columns>div:first-child >div p strong{
        width: 100%;
    }
    .section.stakeholder-contact .columns-wrapper .columns>div:nth-child(2)>div >p{
        max-width: 100%;
    }
}
/* stakeholder contact end */
/* Stakeholder Insurance Services Start */
.section.stakeholder-insurance-services .columns-wrapper .columns>div>div>h2{
    color: var(--orange);
    font-family: 'Nunito-Extrabold', sans-serif;
    font-size: 28px;
    font-weight: 800;
    line-height: 42px;

}
@media screen and (max-width:767px) {
    .section.stakeholder-insurance-services .columns-wrapper .columns>div>div>h2{
        color: #f26841;
        font-family: Nunito-Extrabold, sans-serif;
        font-size: 1.125rem;
        font-weight: 800;
        line-height: 27px;
    }
}
/* Stakeholder Insurance Services End */

/* Stakeholder Insurance Grievance Start */
.section.stakeholder-insurance-grievance .default-content-wrapper >p:first-child{
    margin-top: 40px;
    /* margin-bottom: 72px; */
    color: #000;
    font-family: Nunito-Regular, sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 24px;
}
.section.stakeholder-insurance-grievance .default-content-wrapper >p{
    color: #000;
    font-family: Nunito-Regular, sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 24px;
}
.section.stakeholder-insurance-grievance .default-content-wrapper h2{
    margin-top: 72px;
    color: #000;
    display: block;
    font-family: Nunito-Extrabold, sans-serif;
    font-size: 2rem;
    font-weight: 800;
    line-height: 40px;
    margin-bottom: 8px;
}

@media screen and (max-width: 767px) {
    .section.stakeholder-insurance-grievance .default-content-wrapper >p:first-child{
        font-size: 0.875rem;
        line-height: 20px;
    }
    .section.stakeholder-insurance-grievance .default-content-wrapper h2{
        font-size: 1.125rem;
        line-height: 24px;
        margin-top: 40px;
    }
    .section.stakeholder-insurance-grievance .default-content-wrapper >p{
        font-size: 0.875rem;
        line-height: 20px;
    }
}
/* Stakeholder investor Grievance End */

.section.mld-valuation p{
    color: #000;
    font-family: Nunito-Regular, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 22px;
    margin-top: 16px;
}
.section.mld-valuation p a sub{
    font-family: 'Nunito-Regular', sans-serif;
    font-size: 1rem;
}
.section.mld-valuation p a{
    color: var(--orange)
}

.section.insurance-services .accordion-group-wrapper .accordion-group .accordion>details>summary>div>p a{
    color: var(--orange);
    font-family: Nunito-Regular, sans-serif;
    font-size: 1rem;
    line-height: 24px;
}
.section.insurance-services .accordion-group-wrapper .accordion-group .accordion>details>summary>div>p a:hover{
    text-decoration: none;
}
.section.insurance-services .accordion-group-wrapper .accordion-group .accordion>details>summary >div{
    width: 93.5%;
}
.section.insurance-services .accordion-group-wrapper .accordion-group .accordion>details>summary::after{
    right: 75px;
}
.section.insurance-services .accordion-group-wrapper .accordion-group .accordion>details>summary>div>p a sub{
    font-family: Nunito-Regular, sans-serif;
    font-size: 1rem;
    line-height: 24px;
}
.section.insurance-services .accordion-group-wrapper .accordion-group .accordion>details>summary.active>div>p a{
    color: var(--white);
}
.section.insurance-services .accordion-group-wrapper .accordion-group .accordion>details>div>ul {
    border: none;
    list-style: disc;
}
.section.insurance-services .accordion-group-wrapper .accordion-group .accordion>details>div>ul li::after{
    display: none;
}
.section.insurance-services .accordion-group-wrapper .accordion-group .accordion>details>div>ul li{
    padding: 0;
    margin: 0;
    border: none;
    color: #333;
    font-family: Nunito-Regular, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    padding-left: 5px;
    cursor: auto;
}
@media screen and (max-width:768px) {
    .section.insurance-services .accordion-group-wrapper .accordion-group .accordion>details>summary >div{
        width: 100%;
    }
    .section.insurance-services .accordion-group-wrapper .accordion-group .accordion>details>summary::after{
        right: 20px;
    } 
    .section.interest-rates-accordian-wrapper.insurance-services .accordion-group-wrapper .accordion-group .accordion>details>summary{
        padding: 20px 44px 20px 16px;
    }
}
@media  (min-width:1025px) and (max-width:1300px) {
    .section.grievance-redressal-levels .columns-wrapper .columns>div>div>h2{
        min-height: 36px;
    }
}