.section.branch-locater-banner {
    padding: 59px 0 37px;
}

.section.branch-locater-banner .default-content-wrapper {
    display: grid;
    grid-template-columns: 9fr 1.3fr;
    grid-template-rows: 1fr 1fr;
}

.section.branch-locater-banner .default-content-wrapper p {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 32px;
    color: var(--gradient-gray);
    font-family: "Nunito-Regular";
    grid-column: 1 / -1;
    grid-row: 2 / 2;
}

.section.branch-locater-banner .default-content-wrapper h1 {
    font-size: 3rem;
    font-weight: 800;
    line-height: 60px;
    margin-bottom: 16px;
    display: inline-block;
    color: var(--darkcharcoal);
    font-family: "Nunito-Extrabold";
    grid-column: 1 / -1;
    grid-row: 1 / 2;
}


.section.branch-locater-banner .default-content-wrapper p:nth-child(3)>picture>img {
    width: 124px;
    height: 120px;
}

.section.branch-locater-banner .default-content-wrapper p:nth-child(3) {
    grid-row: 1 / 3;
    grid-column: 2;
    justify-self: end;
}

/* DropDown CSS */
.section.branchlocator-dropdown .container .dropdown-wrapper{
    gap: 24px;
    display: flex;
}

.section.branchlocator-dropdown .container .dropdown-wrapper .dropdown{
    position: relative;
}

.section.branchlocator-dropdown .container .dropdown-wrapper .state-dropdown{
    width: 256px;
    height: 40px;
}

.section.branchlocator-dropdown .container .dropdown-wrapper .city-dropdown{
    width: 220px;
    height: 40px;
}

.section.branchlocator-dropdown .container .dropdown-wrapper .dropdown .dropdown-selectvalue{
    width: inherit;
    cursor: pointer;
    height: inherit;
    font-weight: 700;
    line-height: 20px;
    padding: 8px 16px;
    border-radius: 8px;
    position: relative;
    font-size: 0.875rem;
    color: var(--greyishblue);
    font-family: "Nunito-Bold";
    border: 1px solid var(--greyishblue);
}

.section.branchlocator-dropdown .container .dropdown-wrapper .dropdown .dropdown-selectvalue::after{
    top: 15px;
    right: 17px;
    content: '';
    position: absolute;
    border: solid var(--greyishblue);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    border-radius: 0 0 2px 0;
    transition: transform .3s linear;
}

.dropdown.dropdown-li-logic:has(.dropdown-option-wrapper:not(.dp-none)) .dropdown-selectvalue::after {
    transform: rotate(-135deg) !important;
    top: 17px !important;
}

.section.branchlocator-dropdown .container .dropdown-wrapper .dropdown .dropdown-option-wrapper{
    top: 48px;
    left: 4px;
    z-index: 10;
    width: 97%;
    overflow: auto;
    cursor: pointer;
    max-height: 330px;
    position: absolute;
    padding: 20px 12px 0;
    border-radius: 0 0 12px 12px;
    background-color: var(--white);
    box-shadow: 0 0 2px 0 rgb(0 0 0 / 8%) , 0 0 32px -8px rgb(0 0 0 / 12%) , 0 0 1px 0 rgb(0 0 0 / 20%);
}

.section.branchlocator-dropdown .container .dropdown-wrapper .dropdown .dropdown-option-wrapper input#search{
    border: none;
    font-weight: 400;
    line-height: 16px;
    font-size: 0.75rem;
    font-family: "Nunito-Regular";
    border-bottom: 1px solid var(--zinc);
    width: 100%;
}

.section.branchlocator-dropdown .container .dropdown-wrapper .dropdown .dropdown-option-wrapper input#search::placeholder{
    font-weight: 400;
    line-height: 16px;
    font-size: 0.75rem;
    color: var(--zinc);
    font-family: "Nunito-Regular";
}

.section.branchlocator-dropdown .container .dropdown-wrapper .dropdown .dropdown-option-wrapper .option-wrapper{
    margin-top: 10px;
}

.section.branchlocator-dropdown .container .dropdown-wrapper .dropdown .dropdown-option-wrapper .option-wrapper>a {
    text-decoration: none;
}

.section.branchlocator-dropdown .container .dropdown-wrapper .dropdown .dropdown-option-wrapper .option-wrapper>a>li{
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    color: var(--darkcharcoal);
    font-family: "Nunito-Regular";
    padding: 5px 0;
}

.section.branchlocator-dropdown .container .dropdown-wrapper .dropdown .dropdown-option-wrapper .option-wrapper .option:not(:nth-child(1)){
    margin-top: 15px;
}

/* DropDown Scroll Bar*/
.section.branchlocator-dropdown .container .dropdown-wrapper .dropdown .dropdown-option-wrapper::-webkit-scrollbar {
    width: 2px;
    height: 2px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.section.branchlocator-dropdown .container .dropdown-wrapper .dropdown .dropdown-option-wrapper::-webkit-scrollbar-thumb{
    border-radius: 40px;
    background-color: #D9D9D9;
    background-clip: padding-box;
}

.section.branchlocator-dropdown .container .dropdown-wrapper .dropdown .dropdown-option-wrapper::-webkit-scrollbar-button {
    display: none;
}
/* DropDown Scroll Bar*/

/* DropDown CSS */

/* Map */

.section.branchlocator-map .container .map-branchinfo-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section.branchlocator-map .container .map-branchinfo-wrapper .branch-info-container{
    max-width: 290px;
}

.section.branchlocator-map .container .map-branchinfo-wrapper .branch-info-container > p:nth-child(1){
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 32px;
    margin-bottom: 16px;
    color: var(--darkcharcoal);
    font-family: "Nunito-Bold";
}

.section.branchlocator-map .container .map-branchinfo-wrapper .branch-info-container .branch-deatils p:nth-child(1),
.section.branchlocator-map .container .map-branchinfo-wrapper .branch-info-container .branch-deatils p:nth-child(2){
    font-weight: 400;
    line-height: 26px;
    font-size: 1.125rem;
    font-family: "Nunito-Regular";
    color: var(--darkcharcoal);
}

.section.branchlocator-map .container .map-branchinfo-wrapper .branch-info-container .branch-deatils p:nth-child(2){
    color: var(--black);
}

.section.branchlocator-map .container .map-branchinfo-wrapper .branch-info-container button.btn-locate img {
    width: 24px;
    height: 24px;
}

.section.branchlocator-map .container .map-branchinfo-wrapper .branch-info-container button.btn-locate>span,
.section.branchlocator-map .container .map-branchinfo-wrapper .branch-info-container button.btn-locate,
.section.branchlocator-map .container .map-branchinfo-wrapper .branch-info-container .btn-locate-details {
    font-size: 0.875rem;
    line-height: 20px;
    color: var(--white);
    font-family: "Nunito-Bold";
}

.section.branchlocator-map .container .map-branchinfo-wrapper .branch-info-container button.btn-locate,
.section.branchlocator-map .container .map-branchinfo-wrapper .branch-info-container .btn-locate-details{
    margin: 0;
    border: none;
    font-weight: 700;
    margin-top: 16px;
    padding: 10px 16px;
    border-radius: 8px;
    background-color: var(--orange);
    text-decoration: none;
    max-width: 290px;
    width: 100%;
    display: block;
    text-align: center;
}

.section.branchlocator-map .container .map-branchinfo-wrapper .branch-info-container button.btn-locate {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 8px 16px;
}

.section.branchlocator-map .container .map-branchinfo-wrapper .map-container{
    width: 625px;
    height: 538px;
    border-radius: 16px;
}

/* Map */

/* cards Branchs */
.section.branchlocator-cards .cards-branches .title h2 {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 32px;
    font-family: "Nunito-Bold";
    color: var(--darkcharcoal);
}

.section.branchlocator-cards .cards-branches .cards-container {
    margin-top: 28px;
}

.section.branchlocator-cards .cards-branches .cards-container .cards-wrapper {
    display: grid;
    gap: 32px 23px;
    grid-template-columns: 1fr 1fr 1fr;
}

.section.branchlocator-cards .cards-branches .cards-container .cards-wrapper .card-box {
    height: 100%;
    border-radius: 16px;
    padding: 18px 24px 24px;
    background-color: var(--white);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.12);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section.branchlocator-cards .cards-branches .cards-container .cards-wrapper .card-box .card-title {
    font-weight: 700;
    line-height: 28px;
    font-size: 1.25rem;
    font-family: "Nunito-Bold";
    color: var(--darkcharcoal);
}

.section.branchlocator-cards .cards-branches .cards-container .cards-wrapper .card-box .card-address {
    width: 90%;
    min-height: 96px;
    font-size: 1rem;
    margin-top: 12px;
    font-weight: 400;
    line-height: 24px;
    font-family: "Nunito-Regular";
    color: var(--gradient-gray);
}

.section.branchlocator-cards .cards-branches .cards-container .cards-wrapper .card-box .card-gmail {
    display: flex;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 30px;
    line-height: 24px;
    align-items: center;
    color: var(--gradient-gray);
    font-family: "Nunito-Regular";
}

.section.branchlocator-cards .cards-branches .cards-container .cards-wrapper .card-box .card-gmail span {
    margin-right: 8px;
}

.section.branchlocator-cards .cards-branches .cards-container .cards-wrapper .card-box a:last-child {
    margin-top: 29px;
    font-weight: 700;
    padding: 8px 16px;
    line-height: 20px;
    text-align: center;
    border-radius: 8px;
    font-size: 0.875rem;
    color: var(--white);
    display: inline-block;
    font-family: "Nunito-Bold";
    background-color: var(--orange);
}

.section.branchlocator-cards .cards-branches .cards-container .cards-wrapper .card-box a:last-child:hover {
    text-decoration: none;
}

@media screen and (min-width:768px) and (max-width: 1024px) {
    .section.branchlocator-map .container .map-branchinfo-wrapper {
        gap: 90px;
    }

    .section.branchlocator-map .container .map-branchinfo-wrapper .map-container {
        width: 100%;
        height: 450px;
    }

    .section.branchlocator-cards .cards-branches .cards-container .cards-wrapper {
        gap: 25px 15px;
        grid-template-columns: 1fr 1fr;
    }

    .section.branch-locater-banner {
        padding: 50px 0 28px;
    }

    .section.branch-locater-banner .default-content-wrapper {
        grid-template-columns: 4fr 1fr;
    }

    .section.branch-locater-banner .default-content-wrapper p:nth-child(2) {
        width: 80%;
    }

    .section.branch-locater-banner {
        padding: 50px 0 40px;
    }
}

@media screen and (max-width: 767px) {
    .section.branch-locater-banner {
        padding: 50px 0 36px;
    }

    .section.branch-locater-banner .default-content-wrapper {
        grid-template-columns: 2.5fr 1fr;
    }

    .section.branch-locater-banner .default-content-wrapper p {
        font-size: 1rem;
        line-height: 24px;
    }

    .section.branch-locater-banner .default-content-wrapper h1 {
        line-height: 36px;
        font-size: 1.75rem;
    }

    .section.branch-locater-banner .default-content-wrapper p:nth-child(3)>picture>img {
        width: 72px;
        height: auto;
    }

    .section.branch-locater-banner .default-content-wrapper p:nth-child(3) {
        justify-self: center;
    }

    .section.branch-locater-banner .default-content-wrapper p:nth-child(2) {
        width: 75%;
    }

    .section.branchlocator-map .container .map-branchinfo-wrapper .branch-info-container button.btn-locate, 
    .section.branchlocator-map .container .map-branchinfo-wrapper .branch-info-container .btn-locate-details {
        max-width: unset;
    }
    
    .section.branchlocator-dropdown .container .dropdown-wrapper {
        width: 100%;
    }

    .section.branchlocator-dropdown .container .dropdown-wrapper .state-dropdown{
        width: inherit;
    }

    .section.branchlocator-dropdown .container .dropdown-wrapper .city-dropdown{
        width: inherit;
    }

    .section.branchlocator-dropdown .container .dropdown-wrapper .dropdown .dropdown-option-wrapper{
        left: 0;
        width: 100%;
        max-height: 280px;
    }

    .section.branchlocator-map .container .map-branchinfo-wrapper{
        gap: 18px;
        justify-content: unset;
        flex-direction: column-reverse;
    }

    .section.branchlocator-map .container .map-branchinfo-wrapper .branch-info-container{
        width: 100%;
        max-width: unset;
    }

    .section.branchlocator-map .container .map-branchinfo-wrapper .branch-info-container p:nth-child(1){
        line-height: 28px;
        font-size: 1.25rem;
    }

    .section.branchlocator-map .container .map-branchinfo-wrapper .branch-info-container p:nth-child(2),
    .section.branchlocator-map .container .map-branchinfo-wrapper .branch-info-container p:nth-child(3){
        font-size: 1rem;
        line-height: 24px;
    }

    .section.branchlocator-map .container .map-branchinfo-wrapper .map-container{
        width: 100%;
        max-height: 284px;
        border-radius: 8px;
    }

    .section.branchlocator-cards .cards-branches .title h2 {
        line-height: 28px;
        font-size: 1.25rem;
    } 

    .section.branchlocator-cards .cards-branches .cards-container {
        margin-top: 18px;
    }

    .section.branchlocator-cards .cards-branches .cards-container .cards-wrapper {
        gap: 10px;
        grid-template-columns: auto;
    }

    .section.branchlocator-cards .cards-branches .cards-container .cards-wrapper .card-box .card-address {
        margin-top: 8px;
    }

    .section.branchlocator-cards .cards-branches .cards-container .cards-wrapper .card-box .card-gmail {
        margin-top: 25px;
    }

    .section.branchlocator-dropdown .container .dropdown-wrapper .dropdown .dropdown-option-wrapper .option-wrapper>a>li {
        font-size: 0.875rem;
        line-height: 22px;
        padding: 3px 0;
    }
}