.section.fixed-headset-wrapper .default-content-wrapper {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 40px;
    right: 40px;
    height: 56px;
    width: 56px;
    overflow: hidden;
    transition: width .1s;
    background-color: var(--midnight);
    border-radius: 100px;
    cursor: pointer;
    z-index: 12;
}

.section.fixed-headset-wrapper .default-content-wrapper p {
    background-color: var(--midnight);
    height: 56px;
    width: 56px;
    border-radius: 100px;
    text-align: center;
    align-content: center;
}
.section.fixed-headset-wrapper .default-content-wrapper p span{
    display: unset;
}
.section.fixed-headset-wrapper .default-content-wrapper p span img{
    width: 32px;
    height: 32px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}
.section.fixed-headset-wrapper .default-content-wrapper:hover p {
    border: 1px solid var(--dustygrey);
}

.section.fixed-headset-wrapper .default-content-wrapper ul {
    display: none;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.section.fixed-headset-wrapper .default-content-wrapper ul li {
    font-size: 14px;
    padding-left: 12px;
    font-weight: 700;
    color: var(--white);
    font-family: 'Nunito-Regular', 'sans-serif';
}

.section.fixed-headset-wrapper .default-content-wrapper ul li a {
    color: var(--white);
    text-decoration: none;
    font-family: 'Nunito-Bold', 'sans-serif';
}
.section.fixed-headset-wrapper .default-content-wrapper ul li:first-child a {
    color: var(--orange);
    text-decoration: underline;
}
.section.fixed-headset-wrapper .default-content-wrapper:hover {
    width: 180px;
    transition: width .1s;
}

.section.fixed-headset-wrapper:hover .default-content-wrapper ul {
    display: flex;
    background-color: var(--midnight);
}

@media screen and (max-width: 768px) {
    .section.fixed-headset-wrapper .default-content-wrapper {
        bottom: 16px;
        right: 16px;
        width: 48px;
        height: 48px;
    }

    .section.fixed-headset-wrapper .default-content-wrapper:hover {
        width: 158px;
        cursor: pointer;
        transition: width .1s;
    }

    .section.fixed-headset-wrapper .default-content-wrapper p {
        height: 48px;
        width: 48px;
    }
    .section.fixed-headset-wrapper .default-content-wrapper ul li{
        font-size: 12px;
        padding-left: 9px;
    }
    .section.fixed-headset-wrapper .default-content-wrapper p span img{
        width: 22px;
        height: 22px;
    }
}