/* partner authorised agencies banner css start */
.section.authorised-agencies-banner .teaser-wrapper .teaser .background {   
    padding-bottom: 0;
    margin-top: 66.4px;
    min-height: unset;
    padding: 0;
}

.section.authorised-agencies-banner .teaser-wrapper .teaser .background .front-picture {
    align-items: flex-start;
}
.section.authorised-agencies-banner .teaser-wrapper .teaser .background .foreground .text .long-description .button-container a sub{
    color: var(--white);
    font-family: 'Nunito-Bold', sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 28px;
}
.section.authorised-agencies-banner .teaser-wrapper .teaser .background .foreground .text .long-description .button-container a{
    background: var(--orange);
    border-radius: 8px;
    color: var(--white);
    font-family: 'Nunito-Bold', sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 28px;
    /* padding: 18px 34.56px 18px 34.65px; */
    width: fit-content;
    margin: 0;
    padding: 14.6px 34px;
}

.section.authorised-agencies-banner .teaser-wrapper .teaser .background .foreground .text .short-description p a >u,
.section.authorised-agencies-banner .teaser-wrapper .teaser .background .foreground .text .short-description p a >u >sub{
    color: #f58667;
    font-family: 'Nunito-Extrabold', sans-serif;
    font-weight: 700;
}
.section.authorised-agencies-banner .teaser-wrapper .teaser .background .foreground .text .long-description .button-container {
    font-size: unset;
    line-height: unset;
    font-family: unset;
}

.section.authorised-agencies-banner .teaser-wrapper .teaser .background .foreground .text .short-description p{
    color: #2b4054;
    font-family: 'Nunito-Regular', sans-serif;
    font-size: 1rem;
    line-height: 24px;
    margin-top: 16px;
}

@media screen and (max-width: 767px){
    .section.authorised-agencies-banner .teaser-wrapper .teaser .background {   
        margin: 0;
        flex-direction: column;
        padding-top: 42px;
    }
    .section.authorised-agencies-banner .teaser-wrapper .teaser .background .foreground{   
        margin-bottom: 10px;
    }
    .section.authorised-agencies-banner .teaser-wrapper .teaser .background .front-picture {
        display: none;
    }
    .section.authorised-agencies-banner .teaser-wrapper .teaser .background .foreground .text .title h2 {
        font-size: 1.5rem;
    }
    .section.authorised-agencies-banner .teaser-wrapper .teaser .background .foreground .text .short-description p{
        font-size: 0.75rem;
        line-height: 20px;
        margin-top: 8px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .section.authorised-agencies-banner .teaser-wrapper .teaser .background {
        padding: 0;
        align-items: unset;
    }
    .section.authorised-agencies-banner .teaser-wrapper .teaser .background .front-picture img{
        display: block;
        margin-left: 30px;
    }
    .section.authorised-agencies-banner .teaser-wrapper .teaser .background .foreground .text .title h1 {
        font-family: 'Nunito-Extrabold', sans-serif;
        font-size: 2.5rem;
        font-weight: 800;
        line-height: 60px;
        margin-bottom: 16px;
    }
    .section.authorised-agencies-banner .teaser-wrapper .teaser .background .foreground .text .long-description .button-container {
        margin: 0;
    }
}

@media screen and (max-width: 1024px) {
    .section.authorised-agencies-banner .teaser-wrapper .teaser .background .foreground .text .long-description .button-container {
        display: block;
    }
    .section.authorised-agencies-banner .teaser-wrapper .teaser .background .foreground .text .long-description .button-container a{
        font-size: 0.875rem;
        line-height: 20px;
        padding: 14px 16px;
    }
}
/* partner authorised agencies banner css end */


/* partner authorised agencies css start */
.section.partner-authorised-agencies-wrapper .authorisedagencies-wrapper .authorisedagencies > div:first-child div p {
    display: none;
}

.section.partner-authorised-agencies-wrapper .authorisedagencies-wrapper .authorisedagencies .select-container-wrapper {
    position: relative;
    margin-bottom: 32px;
}

.section.partner-authorised-agencies-wrapper .authorisedagencies-wrapper .authorisedagencies .select-container {
    display: flex;
    align-items: center;
    justify-content: end;
    position: relative;
}

.section.partner-authorised-agencies-wrapper .authorisedagencies-wrapper .authorisedagencies .select-container label{
    color: var(--greyishblue);
    font-family: 'Nunito-Regular', sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 28px;
    margin-right: 12px;
}

.section.partner-authorised-agencies-wrapper .authorisedagencies-wrapper .authorisedagencies .select-container input{
    border: none;
    border-bottom: 1px solid #000;
    color: var(--black);
    cursor: pointer;
    font-family: 'Nunito-Bold', sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 21px;
    max-width: 272.5px;
    padding: 7px 0;
    width: 100%;
    padding-right: 23px;
    overflow: auto;
    overflow: hidden !important;
    overflow-x: auto !important;
    height: 22px;
}

.section.partner-authorised-agencies-wrapper .authorisedagencies-wrapper .authorisedagencies .select-container input.cityBlack::placeholder{
    color: #000;
}

.section.partner-authorised-agencies-wrapper .authorisedagencies-wrapper .authorisedagencies .select-container input:hover{
    border-bottom: 2px solid #000;
}

.section.partner-authorised-agencies-wrapper .authorisedagencies-wrapper .authorisedagencies .select-container::after{
    content: "";
    border: solid #58595b;
    border-radius: 2px;
    border-width: 0 2px 2px 0;
    padding: 5px;
    position: absolute;
    right: 4px;
    transform: rotate(45deg);
    bottom: 15px;
    pointer-events: none;
}

.section.partner-authorised-agencies-wrapper .authorisedagencies-wrapper .authorisedagencies .select-container.open::after{
    bottom: 9px;    
    transform: rotate(225deg);
}

.section.partner-authorised-agencies-wrapper .authorisedagencies-wrapper .authorisedagencies .cities-container fieldset {
    background: var(--white);
    box-shadow: 0 2pc 2pc -8px rgba(0, 0, 0, .08), 0 0 2pc -8px rgba(0, 0, 0, .12), 0 0 1px rgba(0, 0, 0, .2);
    max-height: 354px;
    max-width: 296px;
    overflow-y: scroll;
    padding: 50px 20px 20px;
    position: absolute;
    right: 0; 
    display: flex;
    flex-direction: column;
    /* row-gap: 16px; */
    width: 100%;
}

.section.partner-authorised-agencies-wrapper .authorisedagencies-wrapper .authorisedagencies .cities-container fieldset legend{
    color: var(--orange);
    font-family: 'Nunito-Bold', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    line-height: 24px;
    padding: 16px 0 12px;
    position: absolute;
    top: 0;
    text-transform: capitalize;
}

.section.partner-authorised-agencies-wrapper .authorisedagencies-wrapper .authorisedagencies .cities-container fieldset label{
    align-items: center;
    column-gap: 8px;
    display: flex;
    padding-bottom: 16px;
}

.section.partner-authorised-agencies-wrapper .authorisedagencies-wrapper .authorisedagencies .cities-container fieldset label input{
    accent-color: var(--black);
    border: 1px solid #a9a9a9;
    border-radius: 50%;
    height: 20px;
    margin: unset;
    outline: none;
    width: 20px;
}

.section.partner-authorised-agencies-wrapper .authorisedagencies-wrapper .authorisedagencies .cities-container fieldset label span{
    color: var(--black);
    cursor: pointer;
    font-family: 'Nunito-Regular', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
}

.section.partner-authorised-agencies-wrapper .authorisedagencies-wrapper .authorisedagencies .card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.section.partner-authorised-agencies-wrapper .authorisedagencies-wrapper .authorisedagencies .card-container .card {
    border-radius: 16px;
    box-shadow: 0 4px 9pt rgba(51, 51, 51, .08);
    padding: 24px;
    width: 32%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.section.partner-authorised-agencies-wrapper .authorisedagencies-wrapper .authorisedagencies .card-container .card div:nth-child(6) {
    display: flex;
    align-items: center;
    gap: 5px;
}

.section.partner-authorised-agencies-wrapper .authorisedagencies-wrapper .authorisedagencies .card-container .card div p:first-child {
    color: var(--black);
    font-family: 'Nunito-Semibold', sans-serif;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 2px;
}

.section.partner-authorised-agencies-wrapper .authorisedagencies-wrapper .authorisedagencies .card-container .card div p:nth-child(2) {
    color: var(--gradient-gray);
    font-family: 'Nunito-Regular', sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 20px;
    word-break: break-all;
}

@media screen and (max-width: 767px) {
    .section.partner-authorised-agencies-wrapper .authorisedagencies-wrapper .authorisedagencies .select-container {
        flex-direction: column;
    }

    .section.partner-authorised-agencies-wrapper .authorisedagencies-wrapper .authorisedagencies .select-container label{
        align-self: baseline;
        color: var(--greyishblue);
        font-family: 'Nunito-Regular', sans-serif;
        font-size: 1rem;
        font-weight: 400;
        line-height: 20px;
        margin-right: 0;
        max-width: unset;
        padding-top: 16px;
    }

    .section.partner-authorised-agencies-wrapper .authorisedagencies-wrapper .authorisedagencies .select-container input{
        color: var(--black);
        font-family: 'Nunito-Bold', sans-serif;
        font-size: 1rem;
        font-weight: 700;
        line-height: 20px;
        max-width: unset;
        min-height: 25px;
        padding: 5px 0;
    }

    .section.partner-authorised-agencies-wrapper .authorisedagencies-wrapper .authorisedagencies .cities-container fieldset {
        max-width: unset;
        padding: 55px 20px 20px;
        right: 1px;
    }

    .section.partner-authorised-agencies-wrapper .authorisedagencies-wrapper .authorisedagencies .card-container {
        flex-direction: column;
    }

    .section.partner-authorised-agencies-wrapper .authorisedagencies-wrapper .authorisedagencies .card-container .card {
        width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px)  {
    .section.partner-authorised-agencies-wrapper .authorisedagencies-wrapper .authorisedagencies .card-container {
        gap: 10px;
    }
}
/* partner authorised agencies css end */