.section.loan-products-wrapper.whatsapp-service-loan-products-wraaper {
    background-color: var(--white);
    padding: 0;
}

.section.loan-products-wrapper.whatsapp-service-loan-products-wraaper .default-content-wrapper p {
    color: var(--gradient-gray);
    display: block;
    font-family: 'Nunito-Regular',sans-serif;
    font-size: 1.25rem;
    line-height: 28px;
    padding-bottom: 8px;
}

.section.loan-products-wrapper.whatsapp-service-loan-products-wraaper .wrappercreation-wrapper .teaserv2-wrapper {
    max-height: unset;
    height: 100%;
    max-width: 397px;
}

.section.loan-products-wrapper.whatsapp-service-loan-products-wraaper .wrappercreation-wrapper .teaserv2-wrapper .bg-image {
    align-items: flex-start;
    flex-direction: column;
    text-align: start;
}

.section.loan-products-wrapper.whatsapp-service-loan-products-wraaper .wrappercreation-wrapper .teaserv2-wrapper .bg-image .front-image>picture>img {
    height: 48px;
    width: 48px;
}

.section.loan-products-wrapper.whatsapp-service-loan-products-wraaper .wrappercreation-wrapper .teaserv2-wrapper .bg-image .title {
    color: var(--black);
    font-family: 'Nunito-Extrabold',sans-serif;
    padding: 16px 0 8px;
    font-weight: 800;
    margin-left: 0;
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.section.loan-products-wrapper.whatsapp-service-loan-products-wraaper .wrappercreation-wrapper .teaserv2-wrapper .bg-image .description>div {
    margin-bottom: 0;
}

.section.loan-products-wrapper.whatsapp-service-loan-products-wraaper .wrappercreation-wrapper .teaserv2-wrapper .bg-image .description {
    color: var(--gradient-gray);
    font-family: 'Nunito-Regular',sans-serif;
    font-size: 1rem;
    line-height: 24px;
}

@media screen and (max-width:900px) {
    .section.loan-products-wrapper.whatsapp-service-loan-products-wraaper .wrappercreation-wrapper>div>div {
        gap: 24px;
        grid-template-columns: 1fr;
    }

    .section.loan-products-wrapper.whatsapp-service-loan-products-wraaper .wrappercreation-wrapper .teaserv2-wrapper {
        max-width: unset;
        width: 100%;
    }

    .section.loan-products-wrapper.whatsapp-service-loan-products-wraaper .wrappercreation-wrapper .teaserv2-wrapper .teaserv2 {
        padding: 24px;
    }
}


@media screen and (max-width:767px) {
    .section.loan-products-wrapper.whatsapp-service-loan-products-wraaper .default-content-wrapper h2 {
        font-size: 1.25rem;
        line-height: 28px;
        padding-bottom: 4px;
    }

    .section.loan-products-wrapper.whatsapp-service-loan-products-wraaper .default-content-wrapper p {
        font-size: 0.875rem;
        line-height: 20px;
        padding-bottom: 4px;
    }

    .section.loan-products-wrapper.whatsapp-service-loan-products-wraaper .wrappercreation-wrapper>div>div {
        gap: 20px;
    }

    .section.loan-products-wrapper.whatsapp-service-loan-products-wraaper .wrappercreation-wrapper .teaserv2-wrapper .bg-image .front-image>picture>img {
        height: 40px;
        width: 40px;
    }

    .section.loan-products-wrapper.whatsapp-service-loan-products-wraaper .wrappercreation-wrapper .teaserv2-wrapper .bg-image .title {
        padding: 0 0 8px;
        font-size: 1rem;
    }

    .section.loan-products-wrapper.whatsapp-service-loan-products-wraaper .wrappercreation-wrapper .teaserv2-wrapper .bg-image .description>div>div {
        font-size: 0.875rem;
        text-align: start;
    }
}

@media screen and (min-width:900px) and (max-width:1024px) {
    .section.loan-products-wrapper.whatsapp-service-loan-products-wraaper .wrappercreation-wrapper .teaserv2-wrapper .teaserv2 {
        padding: 24px;
    }


    .section.loan-products-wrapper.whatsapp-service-loan-products-wraaper .wrappercreation-wrapper .teaserv2-wrapper {
        display: flex;
        align-items: flex-end;
    }
}
