.branch-description-wrapper .branch-detail-description.block>div>div>h2 {
    font-family: "Nunito-Extrabold";
    font-size: 2rem;
    line-height: 40px;
    color: var(--darkcharcoal);
}

.branch-description-wrapper .branch-detail-description.block>div>div>p {
    font-family: "Nunito-Regular";
    font-size: 1rem;
    margin-top: 23px;
    line-height: 24px;
    color: var(--darkgrey);
}

.branch-description-wrapper .branch-detail-description.block>div>div>p>em {
    font-family: "Nunito-Bold";
    color: var(--darkcharcoal);
    font-style: normal;
}

.branch-description-wrapper .branch-detail-description.block>div>div>p>strong {
    cursor: pointer;
    font-style: normal;
    color: var(--orange);
    font-family: "Nunito-Bold";
    text-decoration: underline;
}

@media screen and (max-width: 767px) {
    .branch-description-wrapper .branch-detail-description.block>div>div>h2 {
        font-size: 1.5rem;
        line-height: 32px;
    }

    .branch-description-wrapper .branch-detail-description.block>div>div>p {
        margin-top: 14px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .branch-description-wrapper .branch-detail-description.block>div>div>h2 {
        line-height: 36px;
        font-size: 1.75rem;
    }

    .branch-description-wrapper .branch-detail-description.block>div>div>p {
        margin-top: 18px;
    }
}