@font-face {
    font-family: Nunito-Extralight;
    font-weight: 200;
    font-style: normal;
    font-display: swap;
    src: url(/fonts/Nunito-ExtraLight.woff2) format("woff2")
}

@font-face {
    font-family: Nunito-Light;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url(/fonts/Nunito-Light.woff2) format("woff2")
}

@font-face {
    font-family: Nunito-Regular;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url(/fonts/NunitoRegular.woff2) format("woff2")
}

@font-face {
    font-family: Nunito-Medium;
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url(/fonts/Nunito-Medium.woff2) format("woff2")
}

@font-face {
    font-family: Nunito-Semibold;
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url(/fonts/Nunito-Semibold.woff2) format("woff2")
}

@font-face {
    font-family: Nunito-Bold;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url(/fonts/NunitoBold.woff2) format("woff2")
}

@font-face {
    font-family: Nunito-Extrabold;
    font-weight: 800;
    font-style: normal;
    font-display: swap;
    src: url(/fonts/NunitoExtraBold.woff2) format("woff2")
}

@font-face {
    font-family: icomoon;
    src: url(.././fonts/icomoon.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

[class^=icon-],
[class*=" icon-"] {
    font-family: icomoon !important;
    speak: never;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-file-pdf:before {
    content: "\eadf"
}

@font-face {
    font-family: icomoon-download;
    src: url(../fonts/icomoon-download.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

[class^=icon-],
[class*=" icon-"] {
    font-family: icomoon-download !important;
    speak: never;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-download:before {
    content: "\e900"
}

@font-face {
    font-family: icomoon-media;
    src: url(../fonts/icomoon-media.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

[class^=icon-],
[class*=" icon-"] {
    font-family: icomoon-media !important;
    speak: never;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

@font-face {
    font-family: icomoon-media-bell;
    src: url(../fonts/icomoon-media-bell.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

[class^=icon-],
[class*=" icon-"] {
    font-family: icomoon-media-bell !important;
    speak: never;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-bell:before {
    content: "\e901"
}

.icon-trophy:before {
    content: "\e900"
}